.env
nbproject
/vendor
.DS_store
._.DS_store
/node_modules
.env
/nbproject/
/nbproject/private/
.settings/
.project
.metadata
.classpath
.buildpath
/public/storage
/storage/*.key
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store