.hotel-card figure {
    /*height: 245px;*/
}

.cursor {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.show {
    display: block;
}

.mobilemenulist li {
    clear: both;
    display: inline-block;
    width: 100%;
    position: relative;
}

.socialyoutubemenu .mobilemenulist li a.menu_item {
    float: left;
    width: 80%;
}

.socialyoutubemenu .mobilemenulist li a.external-link {
    float: right;
    width: 20%;
    text-align: center;
}

#error-msg {
    color: red;
}

#valid-msg {
    color: #00C900;
}

input.error {
    border: 1px solid #FF7C7C;
}

.ai-forgot-password-form-error-msg {
    color: #ffec0cf2;
    font-size: 15px;
    margin-top: 5px;
}

.ai-sign-up-form-error-msg {
    color: #ffec0cf2;
    font-size: 15px;
    margin-top: 5px;
}

.ai-forgot-password-form-success-msg {
    color: #ffec0cf2;
    font-size: 15px;
}

.ai-login-form-success-msg {
    color: #0d870d;
    font-size: 15px;
}

.ai-sign-up-form-success-msg {
    color: #0d870d;
    font-size: 15px;
}

.ai-login-form-error-msg {
    color: #ffec0cf2;
    font-size: 15px;
    margin-top: 5px;
}

.sliderSection .carousel-inner > .item,
#restaurantSlider .carousel-inner,
#search-result-slider .carousel-inner .item,
.mobilemenulist .navheadimage .headingoverlay,
.hotel-card figure {
    background-color: rgba(25, 25, 25, 0.2);
}

.mobilemenulist .navheadimage {
    border-top: none;
}

.mobilemenulist .navheadimage .headingoverlay .destinationTitle {
    position: absolute;
    bottom: -1px;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    padding: 10px 25px;
    color: #BCBCBF;
}

.mobilemenulist .navheadimage .headingoverlay .hashTag {
    color: #BCBCBF;
    /*font-size: 12px;*/
}

.mobilemenulist .navheadimage .headingoverlay {
    padding-left: 0;
    padding-top: 0;
    top: 0;
    background-color: rgba(25, 25, 27, 0.35);
}

body .ui-widget.ui-widget-content {
    border: 0px solid #c5c5c5;
    background-color: #19191B;
    z-index: 999;
}
body .ui-widget.ui-widget-content li {
    border-bottom: 1px solid #545454;
    color: #BCBCBF;
    padding: 6px 48px;
    position: relative;
}
body .ui-widget.ui-widget-content li:hover {
    cursor: pointer;
    color: #BCBCBF;
    background-color: #89837B;
}
body .ui-widget.ui-widget-content .ui-state-active {
    border: 1px solid transparent;
    background: transparent;
    font-weight: normal;
    color: #BCBCBF;
}
body .ui-widget.ui-widget-content li i.iconsheet.icon-destinations {
    background-position: 0px -108px;
}
body .ui-widget.ui-widget-content li i.iconsheet.icon-collections {
    background-position: 0px 5px;
}
body .ui-widget.ui-widget-content li i.iconsheet.icon-restaurant {
    background-position: 0px -152px;
}
body .ui-widget.ui-widget-content li i.iconsheet.icon-bar {
    background-position: 0px -33px;
}
body .ui-widget.ui-widget-content li i.iconsheet.icon-spa {
    background-position: 0px -70px;
}
body .ui-widget.ui-widget-content li i.iconsheet {
    position: absolute;
    left: 15px;
    top: 0px;
    width: 30px;
    height: 30px;
    border: 0px solid #000;
    background: url(../images/iconsheet.png) no-repeat;
    background-size: 50px auto;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 99;
}

#filtersearchpopup ul ul.mobilemenulist {
    background: #19191B;
}
#filtersearchpopup ul ul.mobilemenulist li {
    border-bottom: 1px solid #414246;
}
#filtersearchpopup ul ul.mobilemenulist li a {
    padding: 15px 25px;
    display: block;
    color: #BCBCBF;
    text-transform: uppercase;
    font-size: 12px;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    margin-left: 30px;
}
#filtersearchpopup ul ul.mobilemenulist li a:hover {
    background-color: #19191B;
    border-left: 4px solid #ABA07C;
    color: #BCBCBF;
    outline: 0;
    text-decoration: none;
}
.mobilemenulist i.fa.fa-angle-right {
    color: #BCBCBF;
    position: absolute;
    top: 35%;
    right: 20px;
}
.mobile-leftsearch-error {
    color: #ABA07C;
}
.daterangepicker.daterangecalendar-design i.fa.fa-close {
    color: #BCBCBF;
    position: absolute;
    right: 20px;
    font-size: 22px;
    top: 5px;
    z-index: 999999999;
    cursor: pointer;
}
.ai-sign-up-form-password-hint {
    color: #ffec0c;
    font-size: 15px;
    margin-top: 5px;
}
.signInPopup .form-group:nth-of-type(1){ 
    margin-top: 15px !important;
}
.no-referral{
    width: 100%; float: left; padding: 0px 0px 10px 0px;
}
.no-referral-input{
    width: 8%; float: left;
}
.no-referral-label{
    width: 92%; float: left; color: #BCBCBF;
}

.mg-top{
   margin-top: 15px !important; 
}
.email-error{    
    border: 1px solid #FF7C7C !important;
    width: 80% !important;
    float: left !important;
}
#email-error-msg{ 
    width: 10%;    
    color: #f00;    
    float: left;
    margin-left: 10px;
}