.hotel-card figure {
    height: 207px;
}

.cursor {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}


.show {
    display: block;
}

.mobilemenulist li {
    clear: both;
    display: inline-block;
    width: 100%;
}
.mobilemenulist li a.menu_item{   /* float: left;
    width: 80%;*/}
a.external-link{ float: right;width:20%; text-align: center;}


#error-msg {
  color: red;
}
#valid-msg {
  color: #00C900;
}
input.error {
  border: 1px solid #FF7C7C;
}

.ai-forgot-password-form-error-msg {
    color: #ffec0cf2;
    font-size: 15px;
    margin-top: 5px;
}
.ai-sign-up-form-error-msg {
    color: #ffec0cf2;
    font-size: 15px;
    margin-top: 5px;
}
.ai-forgot-password-form-success-msg {
    color: #ffec0cf2;
    font-size: 15px;
}
.ai-login-form-success-msg {
    color: #0d870d;
    font-size: 15px;
}
.ai-sign-up-form-success-msg {
    color: #0d870d;
    font-size: 15px;
}
.ai-login-form-error-msg {
    color: #ffec0cf2;
    font-size: 15px;
    margin-top: 5px;
}

.sliderSection .carousel-inner>.item,
#restaurantSlider .carousel-inner, #search-result-slider .carousel-inner .item, .mobilemenulist .navheadimage .headingoverlay{ background-color: rgba(37,37,37,0.2);}
.mobilemenulist .navheadimage{border-top:none; }

.headoverlay .destinationTitle{
    position: absolute;
    bottom: -1px;
    background: rgba(0,0,0,.5);
    width: 100%;
    padding: 23px 25px;
}
.headoverlay .hashTag {
    color: #ABA07C;
    font-size: 12px;
}
.mobilemenulist .navheadimage .headingoverlay{
    padding-left: 0;
    padding-top: 0;
    top: 0;
    background-color: rgba(37, 37, 37, 0.2);
}