.hotel-card figure {
    height: 207px;
}

.cursor {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}


.show {
    display: block;
}

.mobilemenulist li {
    clear: both;
    display: inline-block;
    width: 100%;
}
.mobilemenulist li a.menu_item{    float: left;
    width: 80%;}
a.external-link{ float: right;width:20%; text-align: center;}