.sliderSection.membershipHotelSlider .carousel .item > img {min-width:100%;}

.sliderSection.membershipHotelSlider .carousel {
	filter: brightness(80%);
}
.sliderSection.membershipHotelSlider .item{padding:110px 100px;}
.sliderSection.membershipHotelSlider .carousel-caption {
	top: 100px;
	left: 100px;
	bottom: auto;
	padding: 80px;
	max-width: unset;
	width: 60%;
    background: rgba(0,0,0,0.71);
    opacity: 1;
	position:static;
}
.sliderSection.membershipHotelSlider .carousel-caption h1 {
    color: #ABA07C;
}
.sliderSection.membershipHotelSlider .carousel-caption p {
    font-family: 'geomanistlightwebfont';
}
.sliderSection.membershipHotelSlider .left.carousel-control {
    left: 0;
    bottom: 41px;
}
.sliderSection.membershipHotelSlider .carousel-control {
    left: 0px;
    width: 40px;
    bottom: 0px;
    top: auto;
    right: auto;
    height: 40px;
    padding: 2px 0 0;
    background: #ABA07C;
    opacity: .76;
    text-align: center;
    z-index: 9;
}
.sliderSection.membershipHotelSlider .carousel-control img {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.sliderSection.membershipHotelSlider .carousel-caption .viewGalleryBtn {
    background: #ABA07C;
    color: #ffffff;
    font-family: Geomanist-Regular;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
    border: none;
    margin-top: 20px;
    text-transform: uppercase;
}
.scrollNextDiv {
	position: absolute;
	bottom: 60px;
	left: 61%;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	z-index: 1;
}
.scrollNextDiv a {
	color: #fff !important;
}
@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translate(-50%, 0) rotate(-90deg);}
  50% {-webkit-transform: translate(-50%, -20px) rotate(-90deg);}
  70% {-webkit-transform: translate(-50%, -10px) rotate(-90deg);}
  90% {-webkit-transform: translate(-50%, -5px) rotate(-90deg);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translate(-50%, 0) rotate(-90deg);}
  50% {transform: translate(-50%, -20px) rotate(-90deg);}
  70% {transform: translate(-50%, -10px) rotate(-90deg);}
  90% {transform: translate(-50%, -5px) rotate(-90deg);}
} 


/******membershpipStepSec************/
.membershpipStepSec {
	padding: 30px 0 0; 
	background:#f7f7f7;
    position: relative;
}
.membershpipStepSec::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.2);
    top: 55px;
    left: 0px;
    z-index: 1;
}
.membershpipStepSec .container-fluid {
    z-index: 2;
    position: relative;
}


.stepNumber {
	text-align: center;
	color: #fff; 
}
.stepNumber span {
    background: #89837b;
    color: #fff;
    display: inline-block;
	font-family: 'geomanist_regularregular';
    font-size: 23px;
    font-weight: 600; 
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    cursor: no-drop;
}
.stepNumber.active span {
    background: #ABA07C;
	cursor: pointer;
}
.stepNumber p {
	display: block;
	font-family: 'geomanist_regularregular';
	margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
	color:#333;
}
.hotelInfoSection {
	display: inline-block;
	padding: 6% 10.5%;
}
.hotelInfoSection h1 {
    color: #ABA07C;
    font-family: ACaslonPro-Regular;
    font-size: 36px;
    font-style: normal;
    margin: 0px;
    line-height: 1.42857143;
    padding: 15px 15px 0;
    font-weight: bold;
}
.hotelInfoSection h2 {
    color: #ABA07C;
    font-family: ACaslonPro-Regular;
    font-size: 26px;
    font-style: normal;
    margin: 0px;
    line-height: 1.42857143;
    padding: 15px 15px 10px;
    text-decoration: underline;
    font-weight: bold;
}

.hotelInfoSection .form-group{margin-bottom:20px;}
.hotelInfoSection .form-control{background-color: #fff;  border: 1px solid #d1d1d1; border-radius: 0; -webkit-border-radius: 0; color: #000; font-size: 14px; height: 45px; line-height: unset; margin-top: 0; padding: 12px 20px; text-transform: uppercase; width:100%; font-family: 'HKGothicNo2-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif; box-shadow:none; -webkit-box-shadow:none;}
.hotelInfoSection select{-webkit-appearance: none; -webkit-border-radius: 0px; background:url(../images/icon-select-arrow-gray.png) 98% 15px no-repeat #fff !important;}
.hotelInfoSection textarea.form-control{height:100px; resize:none; -webkit-resize:none;}
.hotelInfoSection .form-control::placeholder {color: #000;opacity: 1;}
.hotelInfoSection .form-control:-ms-input-placeholder {color: #000 !important;}
.hotelInfoSection .form-control::-ms-input-placeholder {color: #000 !important;}
.hotelInfoSection .form-control::-webkit-input-placeholder {color: #000 !important;}

.hotelInfoSection .form-control[type="date"] {
	padding: 0 15px;
}
.hotelInfoSection label {
	color: #333;
	padding: 0 10px 0 0;
    font-family: 'geomanist_regularregular', sans-serif;
	display: inline-block;
	font-size: 15px;
}
.hotelInfoSection a {
	color: #ABA07C;
	font-size: 15px;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    font-family: 'HKGothicNo2-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.hotelInfoSection a:focus,
.hotelInfoSection a:hover {
	text-decoration: underline;
}
.hotelInfoSection .form-group {
    display: inline-block;
    width: 100%;
}
.hotelInfoSection .form-control:focus {
	border-color: #333; 
}
.hotelInfoSection input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    position: relative;
    height: 20px;
    top: 5px;
}
.hotelInfoSection .form-control::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}
.hotelInfoSection .form-control::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
.hotelInfoSection .form-control:-ms-input-placeholder {
  color: rgba(255,255,255,0.8);
}
.hotelInfoSection .form-control:-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
.btn.btn-white {
    background: #ABA07C;
    color: #ffffff;
    font-family: 'HKGothicNo2-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    line-height: 22px;
    border: 0px;
}
.btn.btn-white:focus{outline:none;}
.btn.btn-white:hover {
	background: #897d58;
}


/*****************/
.woocommerce-MyAccount-navigation {
	display: none;
}


/**********package page css***********/
.membershpipStepSec .panel-group {
    padding: 80px 85px 85px 25px; 
}
.packageLeftSide {
    float: left;
    width: 250px;
}
.membershpipStepSec .panel-group .panel-title a {
    color: #fff;
}
.membershpipStepSec .panel-group .panel-default {
    border: none; 
	background:#fff;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{border:0;}

.membershpipStepSec .panel-group .panel-heading {
    background: #89837B;
}
.packageLeftSide img {
    width: 100%;
}
.packageRightSide {
    float: right;
    width: calc(100% - 300px);
    padding-right: 30px;
}
.packageRightSide p {
    margin-bottom: 0px; 
	color:#333;
	font-size:14px;
}
.packagePriceSec b{color:#ABA07C;}
.btn-cstmBtn {
    padding: 6px 12px;
    background: #ABA07C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #fff !important;
    border-radius: 0px;
    border: 1px solid #ABA07C;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}
.btn-cstmBtn:hover,
.btn-cstmBtn:focus {
    background: transparent;
    color: #ABA07C !important;
    text-decoration: none !important;
    border: 1px solid #ABA07C;
}
.membershpipStepSec .panel-group .panel-default + .packagePriceSec {
    margin-top: 20px;
}
.membershpipStepSec.package .aditionalFooter{padding-left:25px;} 
.membershpipStepSec .aditionalFooter p{color:#333}
.aditionalFooter {
    padding: 0 85px 40px 10px;
}
.aditionalFooter p {
    color: #fff;
}

.hotelInfoSection label span {
    font-size: 25px;
    margin-bottom: 10px;
    display: inline-block;
}
.btn-cstmBtn + .btn-cstmBtn {
    margin-right: 10px;
}









@media only screen and (max-width: 767px) {
    .hotelInfoSection {
        display: inline-block;
        padding: 6% 60px 6% 0;
    }
    .hotelInfoSection h1 {
        font-size: 23px;
    }
    .aditionalFooter {
        padding: 0 80px 40px 30px;
    }
    .btn-cstmBtn {
        margin-bottom: 10px;
        float: left !important; 
    }
    .membershpipStepSec .panel-group {
        padding: 40px 80px 40px 15px;
    }
    .packageLeftSide {
        width: 100%;
    } 
    .packageRightSide {
        width: 100%;
    }
    .sliderSection.membershipHotelSlider .item {
        padding: 30px 80px 30px 20px;
    }
    .sliderSection.membershipHotelSlider .carousel-caption {
        width: 100%;
        max-width: 500px;
        padding: 50px;
    }


    .HamYardHotelSliderOptions {
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 70px;
  } 
  .terraceSuitarrow {
    width: 100px;
    position: relative;
    padding: 30px 35px 0 25px;
    background: rgba(37,37,35,0.85);
  } 
  .terraceSuitindicator ol {
    width: 100px;
  }
  .showMoreSec {
    width: 120px;
  }
  .terraceSuitindicator ol li::before {
    left: -75px;
  }
  .shoMoreButtonSection h2 {
    margin-left: 0px;   
    font-size: 22px;
    padding: 10px 5px;
    width: 110px;
  }
  .shoMoreButtonSection a {
    font-size: 21px;
    padding: 7px 5px;
    width: 130px;
  }
  .showMoreContent ul li,
  .showMoreContent p {
    line-height: 20px;
  }
  .HamYardHotelSlider .carousalCaption {
    width: 100%;
  }
.btn-cstmBtn + .btn-cstmBtn {
    margin-left: 10px;
}
}
@media only screen and (max-width: 480px) {
  .HamYardHotelSlider .item {
    height: 470px;
  }
  .carousalCaption h2 {
    font-size: 27px;
    line-height: 28px;
  }
  .carousalCaption {
      padding: 40px 6% 0;
  }
  
  .HamYardHotelSliderOptions {
    width: 200px;
  }
  .showMoreSec {
    width: 200px;
    height: 60px;
    padding: 10px 0;
  }
.btn-cstmBtn {
    display: block !important;
    width: 100%;
    margin: 0px 0 10px !important;
}
}