#search-result-slider .carousel-inner .item{height:600px; background-size:cover; background-position:50% 50%;}
/*#search-result-slider .carousel-inner .item:after{opacity:0;-webkit-opacity:0;}*/
#search-result-slider .carousel-caption{max-width:530px; height:100%; top:0; bottom:0; padding:136px 100px 50px 70px;}
#search-result-slider .carousel-caption h6{margin:24px 0 0;}
#search-result-slider .carousel-caption h2{font-family: DomaineDisplay; font-size:26px; color:#8D8C8E; margin:10px 0 10px; line-height:30px;}
#search-result-slider .carousel-caption h2 a, #search-result-slider .carousel-caption h2 a:hover{color:#8D8C8E;}
#search-result-slider .carousel-caption p{font-size:16px; line-height:22px;font-family: GeomanistLight; }
#search-result-slider .carousel-control{background:#8D8C8E; opacity:1;-webkit-opacity:1; width:auto; height:auto; padding:10px 20px; line-height:30px;}
#search-result-slider .left.carousel-control{right:531px;}
#search-result-slider .right.carousel-control{right:468px;}
#luxury-hotel-selection .search-result .hotel-card figure img{width:100%;}

@media (max-width:1024px){
#search-result-slider .carousel-caption{max-width:445px}
#search-result-slider .left.carousel-control{right:445px;}	
#search-result-slider .right.carousel-control{right:382px;}	
}

@media (max-width:991px){
#search-result-slider .carousel-caption{max-width:400px}
#search-result-slider .left.carousel-control{right:400px;}	
#search-result-slider .right.carousel-control{right:337px;}	
}
@media (max-width:767px){
#search-result-slider .carousel-inner .item{height:auto;}
#search-result-slider .carousel-caption{ padding:50px 70px 50px 30px; position:static; max-width:100%;}
#search-result-slider .left.carousel-control{right:80px;}	
#search-result-slider .right.carousel-control{right:17px;}		
}
@media (max-width:480x){
#search-result-slider .carousel-caption{ padding:50px 30px; }	
}


