/* Slider */

@font-face {
     font-family: 'SilverSouthSerif';
     src: url('../fonts/SilverSouthSerif.eot');
     src: url('../fonts/SilverSouthSerif.eot') format('embedded-opentype'),
          url('../fonts/SilverSouthSerif.woff2') format('woff2'),
          url('../fonts/SilverSouthSerif.woff') format('woff'),
          url('../fonts/SilverSouthSerif.ttf') format('truetype'),
          url('../fonts/SilverSouthSerif.svg#SilverSouthSerif') format('svg');
 }


@font-face {
     font-family:'SilverSouthScript';
     src: url('../fonts/SilverSouthScript.eot');
     src: url('../fonts/SilverSouthScript.eot') format('embedded-opentype'),
          url('../fonts/SilverSouthScript.woff2') format('woff2'),
          url('../fonts/SilverSouthScript.woff') format('woff'),
          url('../fonts/SilverSouthScript.ttf') format('truetype'),
          url('../fonts/SilverSouthScript.svg') format('svg');
 }


.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display:flex;
    align-items:center;
    text-align:center;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.gridtext p
{
font-family: GeomanistLight;  
      line-height:28px;
    color:#BCBCBF;
    margin-top: 15px;
}
.gridtext h5 a i
{
    font-size: 20px;
    color: #a39b7d;
    float: right;
}
 .slick-dots li
  {
    list-style:none;
  }
    .slick-dots
    {
         padding: 0px;
    position: absolute;
    top: 50%;
    right:15px;
    }
.slick-dots li button {
  margin: 10px 0px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    background: #aba07c;
    border: 1px solid #aba07c;
    height:20px;
    width:20px;
    color: #fff;
}
  .gridinner {
    padding: 15px;
    border: 1px solid #4a4a4a;
    overflow: auto;
    width: 100%;
    display: block;
        width: calc(100% - -1px);
        margin-bottom:-1px;
}
.cat-links
{
  font-size:14px;
  color:#000;
}
.entry-title a
{
  color:#fff;
  font-size:25px;
}
.misonrysection
{
  margin-top:50px;
}
.slidertext
{
  padding:0px 50px;
}
.slidertext p a
{
font-family: GeomanistLight; 
    color: #fff;
  line-height:28px;
}
.slidertext .categoryname
{
  text-transform:uppercase;
  color:#fff;
  font-size:20px;
}
.pagination 
{
  position:relative;
  border-bottom:1px solid #4a4a4a;
}
.pagination li a
{
  font-family: 'GeomanistLight', sans-serif;
    background:#19191B;
  border:none;
  color:#fff;
  font-size:18px;
      padding: 5px 25px;
}
.pagination li a.active
{
background-color: #3b99db;
    color: #fff;
}
.pagination li a:hover
{
    background-color: #3b99db;
    color: #fff;
}

.pagination li a:after {
    content: '';
    height: 10px;
    position: absolute;
    width: 1px;
    background: #4a4a4a;
    bottom: 0px;
    left: 30px;
}
.multiple-items
{
  height:100vh;
  display:flex;
  align-items:center;
}

body
{
overflow-x:hidden;
}


select.monthselect,select.yearselect {
    height: 40px !important;
}
th.next.available i
{
  margin-left:10px;
}


.misonrysection .biggrid .gridinner

{

}
.gridinner a,.remoreslider,.slidertext .categoryname
{
  color:#ABA07C;
}
.misonrysection .bannerbtm
{
  color:#ABA07C;
  text-align:center;
}
.btmline
{
    border-bottom: 1px solid #4b4b4b;   
    width:100%;
    margin: 40px -30px;
}
.pagination
{
      margin: 50px 0px 20px 0;
      width:100%;
      text-align:center;
}

.pagination>li
{
  display:inline-block !important;
}

/*.daterangepicker.daterangecalendar-design
{
  position:fixed;
}*/
@media (max-width:1024px)
{
  th.next.available
  {
    display:none;
  }
}
@media (min-width:767px)
{
  .sidefixednav
  {
    width:65px !important;
  }
}


@media (max-width:767px)
{
    .multiple-items,.slick-vertical .slick-slide
    {
        display:block;
    }
    .multiple-items
    {
        height:auto;
    }
    .mobilemenu
    {
      position:fixed !important;
    }

}
/* 
    New Design CSS
 */

 .entry-title a
 {
  font-size:13px !important;
  text-transform:uppercase;
 }

.gridinner img
{
  width:100%;
  margin-bottom: 20px;
}
.multiple-items
{
  background: #19191B;
  height:600px;
  padding:50px 80px 50px 0px;
}

.misonrysection
{
  max-width:1440px;
  margin:0 auto;
    float:none;
    clear:both;
    padding-bottom: 50px;
}

.page-container
{
   background: #19191B; 
}
.pagination
{
  display:table !important;
}
.pagination>li
{
  display:table-cell !important;
}

.pagination>.active>a
{
  background:#19191B;
  color:#8D8C8E !important;
}
.pagination li a
{
      color: #BCBCBF !important;
}
.pagination li a:hover,.pagination>.active>a:hover,.pagination li a:focus,.pagination>.active>a:focus
{
  background:none !important;
  color:#fff;
}

.gridinner .image
{
  overflow: hidden;
  position:relative;
}
.gridinner .gridtext{
    margin-top: 6px;
}
.gridinner .image a img
{
  transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

}


/*.gridinner .image:hover a img
{
-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.4;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);

}

.gridinner .image .showhide
{

position: absolute;
    left: 50%;
    top: 50%;
    height: 70%;
    width: 70%;
    padding: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: transparent;
    opacity:0;
    color:#ABA07C;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(37,37,37,0.8);
      transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}



.gridinner .image:hover .showhide
{
opacity:1;
}*/

.gridheading 
{
 
  color:#BCBCBF;
  text-align:center;
  width:100%;
  padding:20px 0px;
  font-size:18px;
  font-family: GeomanistLight !important;
}
.gridheading .newfont
{
  font-size:18px;
  font-family: GeomanistLight !important;
  text-decoration: underline;

  
}
 a .newfont
{
  font-size:14px;
 font-family: GeomanistLight !important;
  
}
a .newfontsimple{
   font-size:16px;
 font-family: GeomanistLight !important;
}
