.sliderSection.termConditionSlider .carousel .item > img {min-width:100%;}

.sliderSection.termConditionSlider .carousel {
	filter: brightness(80%);
}
.sliderSection.termConditionSlider .item{padding:110px 100px;}
.sliderSection.termConditionSlider .carousel-caption {
	bottom: auto;
	padding: 40px;
	max-width: unset;
	width: 50%;
    background: rgba(37, 37, 37, 0.9);
    opacity: 1;
	position:static;
}
.sliderSection.termConditionSlider .carousel-caption h1 {
    color: #ABA07C;
}
.sliderSection.termConditionSlider .carousel-caption p {
    font-family: 'geomanistlightwebfont';
}
.sliderSection.termConditionSlider .left.carousel-control {
    left: 0;
    bottom: 41px;
}
.sliderSection.termConditionSlider .carousel-control {
    left: 0px;
    width: 40px;
    bottom: 0px;
    top: auto;
    right: auto;
    height: 40px;
    padding: 2px 0 0;
    background: #ABA07C;
    opacity: .76;
    text-align: center;
    z-index: 9;
}
.sliderSection.termConditionSlider .carousel-control img {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.sliderSection.termConditionSlider .carousel-caption .viewGalleryBtn {
    background: #ABA07C;
    color: #ffffff;
    font-family: Geomanist-Regular;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
    border: none;
    margin-top: 20px;
    text-transform: uppercase;
}
.scrollNextDiv {
	position: absolute;
	bottom: 60px;
	left: 61%;
	text-decoration: none;
	text-transform: uppercase;/*
	transform: translateX(-50%) rotate(90deg);
	-webkit-transform: translateX(-50%) rotate(90deg);
	-moz-transform: translateX(-50%) rotate(90deg);
	-ms-transform: translateX(-50%) rotate(90deg);*/
	-webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
   -webkit-animation-name: bounce;
  animation-name: bounce;
  z-index: 1;
}
.scrollNextDiv a {
	color: #fff !important;
}
@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translate(-50%, 0) rotate(-90deg);}
  50% {-webkit-transform: translate(-50%, -20px) rotate(-90deg);}
  70% {-webkit-transform: translate(-50%, -10px) rotate(-90deg);}
  90% {-webkit-transform: translate(-50%, -5px) rotate(-90deg);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translate(-50%, 0) rotate(-90deg);}
  50% {transform: translate(-50%, -20px) rotate(-90deg);}
  70% {transform: translate(-50%, -10px) rotate(-90deg);}
  90% {transform: translate(-50%, -5px) rotate(-90deg);}
} 

/**********************/
.termAndConditionSec {
  width: 100%;
  display: inline-block;
  padding: 70px 90px 70px 100px; 
  background:#252525;
}
.termAndConditionSec h5 {
    color: #ABA07C;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    font-family: ACaslonPro-Regular;
    font-weight: 700;
    padding: 20px 0 10px;
    margin: 0px;
}
.termAndConditionSec p {
    font-family:'GeomanistLight', sans-serif;
    font-size: 15px;
    line-height: normal;
	color:#fff;
	line-height:26px;
	margin-bottom:15px;
}
.termAndConditionSec p a{color:#ABA07C;}
.termAndConditionSec p a:hover{color:#fff;}
.termAndConditionSec label {
    display: inline-block;
    font-size: 15px;
    line-height: 1.42857143;
    font-family: 'GeomanistLight', sans-serif;
    color: #fff;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}



/************/
.termAndConditionPopUp {
  background: #252525;
}
.termAndConditionPopUp .gallyPopupHeader {
  text-align: center; 
}

.termAndConditionPopUp .gallyPopupHeader a {
  display: inline-block;
}

.termAndConditionPopUp .gallyPopupHeader img.logo{max-width:270px;}


.termAndConditionPopUp p {
  color: #ada077;
  padding: 30px;
  font-size: 15px;
  text-align: left;
}
.termAndConditionPopUp .searchDateInnerContent {
  width: 100%;
}
.btn-cstmBtn {
    padding: 6px 25px;
    background: #ABA07C;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #fff !important;
    border-radius: 0px;
    border: 1px solid #ABA07C;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}
.btn-cstmBtn:hover,
.btn-cstmBtn:focus {
    background: transparent;
    color: #ABA07C;
    text-decoration: none !important;
    border: 1px solid #ABA07C;
}
.termAndConditionPopUp label {
  color: #fff;
  padding: 0 45px;
  font-size: 15px;
  text-align: left;
}


.termAndConditionPopUp  .form-control{background-color: #89837b;  border: 0; border-radius: 0; -webkit-border-radius: 0; color: #fff; font-size: 12px; height: 35px; line-height: unset; margin-top: 0; padding: 9px 7px; text-transform: uppercase; width:100%; color:#fff;font-family: 'GeomanistLight', sans-serif;}
.termAndConditionPopUp  select{-webkit-appearance: none; -webkit-border-radius: 0px; background:url(../images/icon-select-arrow.png) 98% 12px no-repeat #89837b !important;}
.termAndConditionPopUp .form-control:focus {
  border-color: rgba(255,255,255,0.5); 
}
.termAndConditionPopUp .form-control[type="date"] {
  padding: 0 15px;
}
.termAndConditionPopUp .form-control::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}
.termAndConditionPopUp .form-control::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
.termAndConditionPopUp .form-control:-ms-input-placeholder {
  color: rgba(255,255,255,0.8);
}
.termAndConditionPopUp .form-control:-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
.termAndConditionPopUp .tremPopupContactInfo p {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom:10px;
  padding:0;
}
.termAndConditionPopUp .tremPopupContactInfo a {
  width: 100%;
  color: #ada077;
  display: block;
  text-align: left;
  font-size: 15px; 
}
.termAndConditionPopUp .tremPopupContactInfo .vegasSocialUl {
  margin-top: 20px;
}
.termAndConditionPopUp .tremPopupContactInfo .vegasSocialUl li {
    display: inline-block;
    padding-right: 5px;
    width: auto !important;
    padding-left: 5px;
    min-width: unset;
}
.termAndConditionPopUp .tremPopupContactInfo .vegasSocialUl li a {
  width: auto;
}
.termAndConditionPopUp .tremPopupContactInfo .vegasSocialUl li a i {
    font-size: 14px;
    background: #ABA07C;
    padding: 6px 12px 4px 7px;
    color: #fff;
    margin-right: 0px;
    text-align: center;
    width: 25px;
}


/**********/



@media only screen and (max-width: 1024px) {
  .contactfixed.termConditionContact {
      top: 163px;
  }
  .backcontrol.termConditionControl {
      top: 242px;
  }
}
@media only screen and (max-width: 767px) {
  .sliderSection.termConditionSlider .carousel-caption {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .sliderSection.termConditionSlider .item {
    padding: 50px 79px 50px 15px;
  }


  .termAndConditionSec {
    padding: 50px 70px 50px 55px;
  }
}