.sliderSection {
    position: relative;
}
.transferFileSec {
    width: 100%;
    max-width: 500px;
    position: absolute;
    background: rgba(0,0,0,0.7);
    padding: 0px;
    bottom: 85px;
    left: auto;
    right:0;
}
.uploadInput {
    display: inline-block;
    padding: 20px 30px 30px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #414246;
    margin-bottom: 30px;
    position: relative;
}
.uploadInput input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.uploadInput h2 {
    display: inline-block;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #ABA07C;
    font-family: 'ACaslonPro-Regular', serif;
}
.uploadInput h2 span {
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 55px;
    font-size: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background: #ABA07C;
    display: inline-block;
}

.transferFileSec .form-group {
    display: inline-block;
    width: 100%;
    padding: 10px 30px 0;
}
.transferFileSec .form-group .form-control {
    display: inline-block;
    width: 100%;
    border: none;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    border-radius: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background:#89837b;
    resize: none;
}




.transferFileSec .form-group .form-control::-webkit-input-placeholder,
.transferFileSec .form-group textarea.form-control::-webkit-input-placeholder {
    color: #fff !important;
}
.form-field textarea::-moz-placeholder,
.form-field input::-moz-placeholder {
    color: #fff !important;
}
.form-field textarea:-ms-input-placeholder,
.form-field input:-ms-input-placeholder {
    color: #fff !important;
}
.form-field textarea:-moz-placeholder,
.form-field input:-moz-placeholder {
    color: #fff !important;
}

.SendButon, .downloadFiles {
    display: block;
    margin: 0 auto 30px;
    background: #ABA07C;
    padding: 10px 50px;
    border-radius: 0;
    color: #fff;
    border:0;
    font-size: 15px;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}
.downloadFilesWrapp a.downloadFiles {
    display: inline-block;
}
.downloadFilesWrapp a.downloadFiles:hover {
   color: #fff;
}
.sidefixednav,
.homerightmenu {
    display: none;
}
.transferSecFirst,
.transferSecSecond,
.transferSecThird {
    display: none;
    padding: 40px !important;
}
.transferSecFirst .SendButon,
.transferSecSecond .SendButon,
.transferSecThird .SendButon {
    margin-top: 20px;
}
.openTransferSec {
    display: block !important;
}



/************/
.labelHeading {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    font-family: 'geomanist_regularregular';
    font-size: 20px;
    font-weight: lighter;
    line-height: 31px;
    margin-top: 5px;
}
.labelHeading input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ABA07C;
}
.labelHeading:hover input ~ .checkmark {
    background-color: #ABA07C;
}
.labelHeading input:checked ~ .checkmark {
    background-color: #ABA07C;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.labelHeading input:checked ~ .checkmark:after {
    display: block;
}
.labelHeading .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




@media only screen and (max-width: 767px) {
    .sidefixednav,
    .homerightmenu {
        display: inherit;
    }
}

@media only screen and (max-width: 480px) {
    .transferFileSec {
        max-width: calc(100% - 80px);
        left: 10px;
        top: 45%;
    }
    .uploadInput {
        padding: 30px 30px 30px;
    }
    .uploadInput h2 span {
        width: 40px;
        height: 40px;
        line-height: 35px;
        font-size: 26px;
    }
    .uploadInput h2 {
        font-size: 16px;
        margin: 0;
    }
    .transferFileSec .form-group {
        padding-top: 3px;
    }
}



/*.fileinput {
    position: absolute;
    width: 300px;
    height: 200px;
    opacity: 0;
}

.fileinput.hidden {
    display: none;
}

#instructions {
    position: absolute;
    width: 300px;
    height: 200px;
}*/