
body {
    background: #fff none repeat scroll 0 0;
    height: 100vh;
    margin: 0;
}
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    position:relative;
    margin:160px auto 0; /*center-aligned*/  
    background:#fff;
} 

#slider, #slider .sliderInner {
    width:100%;
	height:100vh;/* Must be the same size as the slider ../images */
    border-radius:0px;
}

#slider {
    background-color:black;
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider .mc-caption {
    position:absolute;
    width:400px;
    height:auto;
    padding:10px 0;
    left: 100px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
    bottom: -40px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
    overflow:hidden;
    font:bold 13px/16px Arial;
    color:#555;
    text-align:center;
    background:none;
}
#slider .mc-caption a { 
    color:#34739c;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
#slider .navBulletsWrapper  {
    display:none;
}

/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}


/* -- thumbnails -- */
#thumbs 
{
  font-size:0;
   margin-top: 3px;
}
#thumbs .thumb 
{
    display:inline-block;
    *display:inline;zoom:1;/*IE6, IE7 hack*/
    margin:0 1px;/*this determins the distance between each thumbnail*/
    border:1px solid #333;
    padding:4px;
    background:black;
	 //width: 11.545%;
}

#thumbs .thumb img{border:1px solid #555; cursor:pointer; width:100%; height:85px; opacity:0.7;filter:alpha(opacity=50);}
#thumbs .thumb-on img{border:1px solid #999; opacity:1;filter:alpha(opacity=100);}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
.slider-btn { margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
    position: absolute;
    text-align: center;
    width: 100%;}
.slider-btn ul {
    padding: 0;
}
.slider-btn li {
    display: inline-block;
}
.slider-btn li a {
    background: #1c1c1c none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    padding: 12px 50px;
    text-decoration: none;
}
.slider-content {
    background: rgba(0, 0, 0, 0.80) none repeat scroll 0 0;
    position: absolute;
    top: 0;
    width: 300px;
	color: #fff;
}
.slider-content-contact {
    padding: 15px 20px;
}
.slider-content-contact p {
    color: #ccc;
    font-size: 12px;
    margin: 0 0 7px;
     letter-spacing: 0;
    line-height: 16px;
    text-transform: uppercase;
}
.slider-content-contact b {
    font-size: 13px;
	color: #fff;
}
.slider-content-contact h3 {
     color: #ccc;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
    margin: 7px 0;
    text-transform: uppercase;
}
.manu-toggle-tabs h2 {
     border-top: 1px solid #4b4b4b;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 8px 20px;
    width: 100%;
    letter-spacing: 0;
}
.toggle-container h2 {
    background: rgba(0, 0, 0, 0.5) url("../images/Angle-down.png") no-repeat scroll 95% center;
}
.toggle-container.active-tab h2{
	 background: rgba(0, 0, 0, 0.5) url("../images/angle-top.png") no-repeat scroll 95% center;
}
.toggle-content {
    padding: 5px 20px;
}
.toggle-content td {
    font-size: 12px;
    padding: 0 10px 5px 0;
}
.dark-grey {
    color: #999 !important;
}
.light-grey {
    color: #ccc !important;
     line-height: 16px;
}
.light-grey  a{
    color: #ccc !important;
    text-decoration: underline !important;
}
.light-grey a:hover {
    color: #fff !important;
}
.toggle-content p {
     color: #ccc;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: 0;
      padding-bottom: 10px;
}
.slider-content-bottom {
    border-top: 1px solid #4b4b4b;
	 border-bottom: 1px solid #4b4b4b;
}
.property-view-more {
    padding: 10px 20px;
}
.property-view-more p {
    color: #ccc;
    font-size: 12px;
    margin: 0;
}
.view-more-contact {
    color: #ccc;
    font-style: italic;
}
.view-more-contact:hover {
    color: #fff;
}
.property-view-more h4 {
    color: #ccc;
    font-size: 12px;
    font-weight: normal;
    margin:12px 0 8px;
    text-transform: uppercase;
}
.property-view-more ul {
	padding: 0;
	margin:0;
}
.property-view-more ul li{
	display:inline-block;
	list-style:none;
	
}
.property-view-more ul li a {
    color: #ccc;
    font-size: 12px;
    padding-right: 7px;
    text-decoration: none;
}
.slider-content-bottom-share {
    padding:10px 20px;
}
.slider-content-bottom-share li {
    display: inline-block;
}
.slider-content-bottom-share ul li  a{
	 background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    display: inline-block !important;
    height: 20px;
    width: 24px;
}
.share-mi {
    background-position: 0 -10px;
}
.share-mi:hover {
    background-position: 0 -36px;
}
.share-fb {
    background-position: 0 -63px;
}
.share-fb:hover {
    background-position: 0 -92px;
}
.share-tw{
    background-position: 0 -120px;
}
.share-tw:hover {
    background-position: 0 -146px;
}
.share-in {
    background-position: 0 -173px;
}
.share-in:hover {
    background-position: 0 -200px;
}
.share-p {
    background-position: 0 -226px;
}
.share-p:hover {
    background-position: 0 -252px;
}
.share-gp{
    background-position: 0 -277px;
}
.share-gp:hover{
    background-position: 0 -302px;
}
.slider-content-bottom-share ul {
    margin: 0 0 0 20px;
    padding: 0;
    width: 190px;
}
.slider-content-bottom-share  span {
     height: 18px;
    font-size: 13px;
     display: flex;
}
.slider-form button {
   background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 9px 10px 7px;
    text-transform: uppercase;
}
.slider-form button:hover{
	color:#fff;
	background:#000;
}
.grey-line {
    border-top: 1px solid #444;
    margin-bottom: 10px;
}
.white {
    color: #fff;
}
.slider-form-fields p {
    margin-bottom: 15px;
}
.slider-form-fields input {
    border: medium none;
    border-radius: 2px;
    color: #000 !important;
    font-size: 13px;
    margin-bottom: 10px;
    opacity: 1 !important;
    padding: 8px 0 8px 10px;
    width: 96%;
}
.slider-form-fields textarea {
    border: medium none;
    border-radius: 2px;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    width: 92%;
}
.cancel-contact {
    cursor: pointer;
    margin-left: 30px;
}
.three-cols {
    float: left;
    width: 100%;
}
.three-cols ul {
    margin: 4px 0 0;
    padding: 0;
}
.three-cols li {
    background: #efefef none repeat scroll 0 0;
    display: inline-table;
    height: 160px;
    margin-right: -5px;
    text-align: center;
    width: 33.3%;
}
.three-cols li:nth-child(2) {
    background: #DBE7EF none repeat scroll 0 0;
}
.three-cols li h1 {
    color: #26241e;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    margin: 24px 0;
    text-transform: uppercase;
}
.three-cols li a {
    color: #26241e;
    text-decoration: none;
    font-size: 15px
}
.three-cols li a:hover {
    color: #000;
}
.three-cols li h3 {
    color: #26241e;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: lowercase;
}
.three-cols li input {
    border: 1px solid #ccc;
    border-radius: 0;
    height: 35px;
    padding: 0 10px;
    width: 225px;
}
.tree-col-ph {
    background: rgba(0, 0, 0, 0) url("../images/phone.png") no-repeat scroll 0 -1px;
    padding: 0 10px 2px 18px;
}
.tree-col-email {
    background: rgba(0, 0, 0, 0) url("../images/email.png") no-repeat scroll 0 3px;
    padding: 0 0 0 24px;
    color: #997f5f !important;
}