/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
     overflow-x: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/*
--------------------------------------------------------------------------------
	Header provided by shop frontend
-------------------------------------------------------------------------------- 
*/

#header_wrapper {
    width: 890px; /*width - to be defined*/
}

#header {
    width: 830px; /*width - to be defined*/
}

#header_logo {
    margin-left: 150px; /*margin - to be defined*/
}

#top_nav {
    width: auto; /*width - to be defined*/
    position: relative;
}

#top_nav ul li div.sub {
    width: 1000px; /*width - to be defined*/
}

#top_nav ul li div.sub_inner {
    width: 1000px; /*width - to be defined*/
}

body.de #header_wrapper {
    width: 870px; /*width - to be defined*/
}

body.de #header {
    width: 810px; /*width - to be defined*/
}

body.de #header_logo {
    margin-left: 150px; /*margin - to be defined*/
}

#header_wrapper.withanexclusivetopnavipunktreallynotwithoutitbelieveme {
    width: 980px; /*width - to be defined*/
}

#header_wrapper.withanexclusivetopnavipunktreallynotwithoutitbelieveme #header {
    width: 920px; /*width - to be defined*/
}

#header_wrapper.withanexclusivetopnavipunktreallynotwithoutitbelieveme #header_logo {
    margin-left: 334px; /*margin - to be defined*/
}

body.de #header_wrapper.withanexclusivetopnavipunktreallynotwithoutitbelieveme {
    width: 940px; /*width - to be defined*/
}

body.de #header_wrapper.withanexclusivetopnavipunktreallynotwithoutitbelieveme #header {
    width: 880px; /*width - to be defined*/
}

body.de #header_wrapper.withanexclusivetopnavipunktreallynotwithoutitbelieveme #header_logo {
    margin-left: 334px; /*margin - to be defined*/
}

#header_wrapper {
    margin: 0 auto;
}

#header {
    float: left;
    padding: 40px 30px 0;
    position: relative;
}
.site-header-slice__toggle {
    display: none;
}
#header_account_wrapper, #header_logo {
    float: left;
}

#header_account_wrapper a {
    font-style: italic;
    color: #cbcbcb;
}

#header_logo #logo {
    float: left;
    display: block;
}

#header_logo #blog_logo {
    display: block;
    float: left;
    margin-bottom: -28px;
    margin-left: 35px;
    margin-top: -23px;
}

#header_languages, #header_social {
    float: right;
    margin-top: 48px;
    width: 68px;
}

#header_languages p, #header_social p, #header_social a {
    font-style: italic;
    color: #cbcbcb;
    cursor: pointer;
}

#header_social {
    margin: 48px 0 0 0 !important;
}

#header_languages .flyoutBox, #header_social .flyoutBox {
    position: absolute;
    display: none;
    top: 15px;
    z-index: 15;
    text-align: center;
    line-height: 16px;
    background: url(../images/arrow_down_grey.png) no-repeat scroll center 8px #FFFFFF;
    left: -26px;
    padding: 15px 20px 20px;
}

#header_social .flyoutBox {
    //left: -20px;
}

#header_languages a {
    font-style: italic;
    color: #000;
    cursor: pointer;
}

#header_account_wrapper {
    position: absolute;
    width: 120px;
}

#header_social a.facebook {
    color: #3a5899;
}

#header_social a.google {
    color: #e54413;
}

#header_social a.twitter {
    color: #1acbff;
}

#header_social a.pinterest {
    color: #d22220;
}

#top_nav_wrapper {
    float: left;
    margin: 0 !important;
    position: relative;
    width: 100%;
   background: rgba(0, 0, 0, 0) url("../images/border.gif") no-repeat scroll center top / 64% auto !important;

}

#top_nav {
    float: left;
    margin: 0 3px 0 0;
}

#top_nav ul {
    display: block;
    float: left;
}

#top_nav ul li {
    display: block;
    float: left;
    width: auto;
    */ display: inline;
    height: 32px;
    padding: 0 0 3px;
}

#top_nav ul li a {
    display: block;
    float: left;
    font-size: 14px;
    font-style: italic;
    line-height: 23px;
    margin: 4px 9px 0;
    overflow: hidden;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
    width: auto;
}
#top_nav ul li:first-child a {
    margin-left: 24px;
}

#top_nav ul li a:hover,
#top_nav ul li a:active,
#top_nav ul li.selected a,
#top_nav ul li.open a {
    background: #000;
    color: #FFF;
}

#top_nav ul li.open {
    background: url(../images/arrow_down_black.png) no-repeat scroll center 27px transparent;
}

.bh-search-close::before {
    background: url(../images/Close.png) no-repeat scroll 0 0;
}
#top_nav ul .top_nav_sep {
    float: left;
    display: block;
    padding: 8px 0 0;
}

#top_nav ul li:last-child .top_nav_sep {
    display: none;
}

/* subnav */

#top_nav ul li div.sub {
    position: absolute;
    display: none;
    float: left;
    left:0;
    top: 34px;
    z-index: 9999999;
    overflow: hidden; 
}

#top_nav ul li:hover div.sub {
    display: block;
}

.js #top_nav ul li:hover div.sub {
    display: none;
}

#top_nav ul.fotograf_overview_list_ap { float: left; width: 300px; }
#top_nav ul.fotograf_overview_list_ap li { width:100%; }
#top_nav ul.fotograf_overview_list_ap li a { text-align: left; }
#top_nav ul.fotograf_overview_list_ap li:first-child a { margin: 0 9px;  }

/* end: arrow positions */
#top_nav ul li div.sub_inner {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    overflow: hidden;
    padding: 40px;
    margin: -30px 0 0 -40px;
}

#top_nav ul li ul {
    float: left;
    display: block;
    padding: 5px 0 0 30px;
    width: 100%;
}

#top_nav ul li li {
    float: left;
    height: auto;
    padding: 0;
}

#top_nav ul li li a {
    margin: 0 9px;
    padding: 0;
    color: #000 !important;
}

#top_nav ul li.open li a,
#top_nav ul li.selected li a,
#top_nav ul li a:hover li a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}

#top_nav ul li li a:hover {
    text-decoration: underline;
}

#top_nav ul.fotograf_overview_list {
    float: left;
    width: 170px;
}

#top_nav ul.fotograf_overview_list li {
    width: 100%;
}

#top_nav ul.fotograf_overview_list li a {
    text-align: left;
}

#top_nav ul.fotograf_overview_list li:first-child a {
    margin: 0 9px;
}

#top_nav ul.fotograf_overview_list:last-child {
    width: 135px;
}

#search_wrapper {
    float: right;
    width: 158px;
    height: 31px;
    border: 1px solid #cccccc;
    position: relative;
    border-top: 0 none;
}

body.ie #search_wrapper {
    width: 157px;
}

.searchBox label.innerLabel {
    font-size: 14px;
    line-height: 20px;
    color: #9b9b9b;
    padding: 6px 8px;
    font-family: "Times New Roman", Times, serif !important;
    font-style: italic !important;
}

#searchParam {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #9B9B9B;
    display: block;
    float: left;
    font-size: 14px;
    font-style: italic;
    height: 31px;
    padding: 0 8px;
    width: 142px;

    line-height: 20px;
    font-family: "Times New Roman", Times, serif !important;
    font-style: italic !important;
}

body.ie #searchParam {
    padding: 5px 8px 0;
    height: 26px;
}

div.searchBox input.searchSubmit {
    background: url(../images/search_icon.png) no-repeat scroll 3px center transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 13px;
    position: absolute;
    right: 8px;
    top: 9px;
    width: 16px;
}

div.searchBox input.textbox:focus {
    color: #333;
}

.topPopList {
    float: right;
    margin-left: 10px;
    position: relative;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    min-width: 1024px;
}

body {
    background: #fff;
    font-weight: 100;
    width: 100%;
    min-width: 1024px;
}

a {
    outline: none !important;
}

#header_wrapper {
    margin: 0 auto;
    letter-spacing: 0.05em;
    font-size: 13px;
    color: #9b9b9b;
    line-height: 1;
    font-family: "Times New Roman", Times, serif;
    -webkit-appearance: none;    
}

#header_wrapper p {
    margin: 0;
}


#header_wrapper a {
    color: #9B9B9B;
    text-decoration: none;    
}

#header_wrapper a:hover {
    color: #000;
}

#header_logo #blog_logo,
#header_social,
#header_languages, 
#top_nav_wrapper {
    display: none;
}

.loggedin #top_nav_wrapper {
    display: block;
}

.showmenuonstart #top_nav_wrapper {
    display: block;
}

.showmenu #header_logo #blog_logo,
.showmenu #header_social,
.showmenu #header_languages {
    display: block;
}

#header_account_wrapper.notlogged {
    display: none !important;
}

#header_account_wrapper.logged {
    display: block !important;
}

#header_logo {
    margin-left: 300px;
}

body.de #header_logo {
    margin-left: 300px;    
}

#header_logo #logo {
    width: 210px;
    height: 50px;
    display: block;
    color:#000;
    //text-indent: -9999px;
    //background: url(../images/logo_folio-id.png) transparent no-repeat center top;
}

#top_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.searchBox label.innerLabel {
    display: block;
    position: absolute;
    color: #000;
    padding: 0px 5px;
    font-style: italic;
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 19px;
    height: 19px;

    font-size: 14px;
    line-height: 20px;
    color: #9b9b9b;
    padding: 6px 8px;
    font-family: "Times New Roman", Times, serif !important;
    font-style: italic !important;
}

.flyoutBox ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header_languages a {
    color: #000;
}


#frontpage-header {
    height: 160px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 500;
    min-width: 1024px;
    top: 0;
    left: 0;
}

.showmenuonstart #frontpage-header,
.loggedin #frontpage-header {
    height: 160px;
}

.csspositionsticky #frontpage-header {
    
    position: fixed;
    left: auto;
}
.bh-slideshow-thumbnail-split {
    position: relative;
     margin-top: 190px;
}
.showlayer #frontpage-header {
    z-index: -1;
}
.showlayer .bh-slideshow-thumbnail-split {
    display: none;
}
#frontpage-header-showmenu {
    position: absolute;
    left: 40px;
    top: 50px;
    width: 26px;
    height: 15px;
    background: url(../images/frontpage-showmenu.png) transparent no-repeat center center;
    cursor: pointer;
    cursor: hand;
}

#frontpage-header-signup {
    display: block;
    position: absolute;
    right: 40px;
    top: 50px;
    text-indent: -9999px;
    width: 13px;
    height: 17px;
    background: url(../images/frontpage-signout.png) transparent no-repeat center center;
}

.loggedout #frontpage-header-signup {
    background-image: url(../images/frontpage-signup.png)
}

#frontpage-content {
    padding: 0 0px 100px 0px;
    margin-top: 20px;
    min-width: 1024px;
    //position: relative;
    position: relative;
    top: 25px !important;
    width: 100%;
}

.showlayer #frontpage-content {
    position: fixed;
    z-index: -2;
}

.csspositionsticky #frontpage-content {
    top: 0;
}

.showmenuonstart #frontpage-content,
.loggedin #frontpage-content {
    top: 170px;
}

.csspositionsticky .showmenuonstart  #frontpage-content,
.csspositionsticky .loggedin #frontpage-content {
    top: 0;
}


#frontpage-tiles {
    margin: 0 20px;
    padding: 0;
    list-style: none;
    position: relative;
    background: url(../images/frontpage-loader-black.gif) transparent no-repeat center 15%;
}

.tile {
   /* visibility: hidden;*/
    float: left;
    width: 33.3%;
	    list-style: none;
}

.tile-large {
    width: 66.6%;
}

.tile-inner {
    margin: 20px;
    position: relative;
    text-align: center;
}

.tile-inner a {
    color: #000;
    text-decoration: none;
}

.tile-inner img {
    width: 100%;
    height: auto;
    display: block;
}

.tile-textonly {
    padding: 50px 0;
    display: block;
}

.tile-layer {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: rgba(0,0,0,1);
    display: none;
    text-decoration: none !important;
    color: #fff;
    z-index: 2;
    overflow: hidden;
}

.ie7 .tile-layer,
.ie8 .tile-layer {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff',GradientType=0 );
}


.tile-layer-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.tile-layer-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 80%;
    height: 80%;
    padding: 10%;
    -moz-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
}

.tile-inner:hover .tile-layer {
    display: block;
}

.ie7 .showlayer .tile-inner:hover .tile-layer,
.ie8 .showlayer .tile-inner:hover .tile-layer {
    display: none;
}

.tile-headline {
    color:#9B9B9B;
    font-weight: 100;
    font-size: 28px;
    margin: 0;
    margin-bottom: 30px;
	font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
}

.tile-text {
    font-size: 16px;
    color:#454340;
}

.frontpage-tiles-nav {
    width: 100% !important;
    padding: 40px 0;
    text-align: center;
}

.frontpage-tiles-nav a {
    color: #000;
    text-decoration: none;
}

#frontpage-detail-content {
    background: #000;
    padding: 100px 80px;
    padding-top: 0;
    margin-top: -20px;
    position: relative;
    min-width: 864px;
    top: 120px;
}

.csspositionsticky #frontpage-detail-content {
    top: 0px;
}

.showmenuonstart #frontpage-detail-content,
.loggedin #frontpage-detail-content {
    top: 170px;
}

.csspositionsticky .showmenuonstart #frontpage-detail-content,
.csspositionsticky .loggedin #frontpage-detail-content {
    top: 0px;
}

#frontpage-detail-tiles {
    margin: 0;
    padding: 0;
    height:1024px !important;
    min-height: 1024px;
    margin: 0 auto;
    max-width: 1280px;
    list-style: none;
    position: relative;
    background: url(../images/frontpage-loader-white.gif) transparent no-repeat center 30%;
}

.detail-tile {
    float: left;
    width: 33.3%;   
    visibility: hidden;
}

.detail-tile-inner {
    padding: 20px;
}

.detail-tile-inner img {
    width: 100%;
    height: auto;
    display: block;
}

.frontpage-detail-content-top {
    padding-top: 140px;
    margin-bottom: 55px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.frontpage-detail-content-top-heading {
    font-weight: 100;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    text-transform: none;
    text-align: center;
    letter-spacing: 1px;
}

.frontpage-detail-content-top-heading-ap {
    text-indent: -9999px;
    background: url(../images/frontpage-ap-licensing.png) transparent no-repeat center top;
    margin-bottom: 20px;
    height: 44px;
}

.frontpage-detail-content-top-text,
.frontpage-detail-content-top-link,
.frontpage-detail-content-bottom-link {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #525252;
    text-align: center;
    max-width: 600px;
}


.frontpage-detail-content-top-text {
    margin: 0 auto;
}

.frontpage-detail-content-top-link {
    margin: 0 auto;
    margin-top: 20px;
}

.frontpage-detail-content-bottom-link {
    margin: 55px auto 0 auto;
}

.frontpage-detail-content-top-link a,
.frontpage-detail-content-bottom-link a {
    color: #525252;
    text-decoration: none;
}

.frontpage-detail-content-top-link a:hover,
.frontpage-detail-content-bottom-link a:hover {
    text-decoration: underline;
}

#frontpage-detail-slider {
    padding: 0;
    padding-bottom: 100px;
    min-height: 500px;
    margin: 0 auto;
    max-width: 1160px;
    list-style: none;
    position: relative;
}

.frontpage-detail-slider-control {
    height: 100%;
    width: 22px;
    background: url(../images/frontpage-slider-controls.png) transparent no-repeat left center;
    position: absolute;
    left: -40px;
    top: 0;
    cursor: pointer;
    cursor: hand;
}

.frontpage-detail-slider-control-next {
    left: auto;
    right: -40px;
    background-position: right center;
}


#frontpage-detail-slider-slides-container {
    width: 100%;
    height: 0;
    padding-bottom: 66.66%;
    position: relative;
    overflow: hidden;
}

#frontpage-detail-slider-slides {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.frontpage-detail-slider-slide {
    float: left;
    height: 100%;
    display: table;
}

.frontpage-detail-slider-slide-inner {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.frontpage-detail-slider-slide img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

#frontpage-detail-slider-thumbs {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: -30px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #525252;
    text-align: center;
}

.frontpage-detail-slider-thumb {
    color: #525252;
    width: 100%;
    display: none;
}

.frontpage-detail-slider-thumb-active {
    display: block;
}

.frontpage-detail-slider-thumb p {
    margin: 0;
    margin-bottom: 0.3em;    
}

.frontpage-detail-slider-thumb a {
    color: #525252;
    text-decoration: none;    
}

.frontpage-detail-slider-thumb a:hover {
    text-decoration: underline;    
}


#frontpage-layer-bj {
    background: rgba(0, 0, 0, 0.92) none repeat scroll 0 0;
    display: none;
    height: 115% !important;
    left: 0;
    min-width: 1024px;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
       overflow-x: hidden;
}

.csspositionsticky #frontpage-layer-bj {
    margin-top: -120px;
}

.csspositionsticky .showmenu #frontpage-layer-bj {
    margin-top: -65px;
}

.ie7 #frontpage-layer-bj,
.ie8 #frontpage-layer-bj {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb000000', endColorstr='#eb000000',GradientType=0 );    
}

.showlayer #frontpage-layer-bj {
    display: block;
}

#frontpage-layer-bj-header-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /*min-width: 1024px;*/
    z-index: 100;
}

.csspositionsticky #frontpage-layer-bj-header-wrapper {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    left: auto;
}

#frontpage-layer-bj-header {
    padding: 40px 0px 0;
  
    margin: 0 auto;
    height: 80px;
}

body.de #frontpage-layer-bj-header {
    width: 810px;
}

#frontpage-layer-bj-header-logo {
    text-indent: -9999px;
    /*margin-left: 300px;*/
    display: block;
    /*width: 210px;*/
    height: 50px;
    background: url(/public/sximo/images/imgpsh_fullsize-logo.png) transparent no-repeat center top;
}

#frontpage-layer-bj-header-close {
    cursor: pointer;
    cursor: hand;
    width: 37px;
    height: 37px;
    top: 41px;
    right: 40px;
    background: url(../images/frontpage-close.png) transparent no-repeat center center;
    position: fixed;
}

#frontpage-layer-bj-content {
    min-height: 500px;
    background: url(../images/frontpage-loader-white.gif) transparent no-repeat center 30%;
    padding: 100px 80px;
    min-width: 864px;
}

.csspositionsticky #frontpage-layer-bj-content {
    padding-top: 0;
    margin-top: -20px;
}

.layerloaded #frontpage-layer-bj-content {
    background: none;
}

#infscr-loading {
    position: absolute;
    text-align: center;
    bottom: -40px;
    left: 0;
    width: 100%;
}

#frontpage-login-layer {
    background: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    display: none;
}

#frontpage-login {
    background: #fff;
    width: 480px;
    height: 220px;
    top: 250px;
    left: 50%;
    padding: 40px;
    margin-left: -280px;
    position: fixed;
/*     position: -webkit-sticky; */
    -moz-box-shadow: 1px 1px 9px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 9px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 9px rgba(0,0,0,0.4);
}

#frontpage-login-heading {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.frontpage-login-form-row {
    clear: both;
    margin-bottom: 15px;
    min-height: 24px;
    overflow: hidden;
}

.frontpage-login-form-row label {
    display: block;
    float: left;
    width: 150px;
    margin-right: 20px;
    font-weight: 300;
    height: 26px;
    line-height: 26px;
}

.frontpage-login-form-row input {
    border: 1px solid #e3e3e3;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    padding: 2px 5px;
    background: #e3e3e3;
    width: 298px;
    float: left;
}

.frontpage-login-form-row-submit {
    margin-top: 20px;
    text-align: center;
}

.frontpage-login-form-row-submit button {
    background: #000;
    width: 310px;
    margin: 0 auto;
    margin-right: 0;
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    height: 26px;
    text-align: center;
    border: 0;
    font-family:"Times New Roman", Times, serif;
    font-weight: 100;
}

.frontpage-login-link {
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #000;
    text-decoration: none;
    font-size: 14px;    
}

.frontpage-login-link:hover {
    text-decoration: underline;
}


.frontpage-login-link-pwd {
    left: auto;
    left: 210px;
}

.frontpage-login-link-signup {
    left: auto;
    right: 40px;
}
.login-reg {
    position: absolute;
    left: 80px;
    top: 48px;
}
.login-reg .btn {
    background: url("../images/frontpage-signup.png") no-repeat scroll 0 0 !important;
    border: medium none;
    height: 20px !important;
    padding: 0;
    width: 14px !important;
	margin-top: 0px;
}
.login-reg .btn:hover {
    background:  url("../images/frontpage-signout.png") no-repeat scroll 0 0 !important;
}
.modal-dialog {
    margin-top: 5% !important;
    top: 10% !important;
    width: 460px !important;
}
.modal-content .close {
    position: absolute;
    right: 15px;
    top: 10px;
}
.modal-content {
    padding: 30px 20px !important;
    text-align: left;
}
.modal-header h2 {
    color: #000;
    font-size: 28px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
}
.modal-header p {
    color: #000;
    font-size: 14px;
}
.modal-header a {
    font-style: italic;
    text-decoration: underline;
}
.loginform-content h2 {
    color: #444444;
    font-size: 22px;
    font-weight: normal;
    margin: 50px 0 40px;
}
.loginform-content .form-horizontal {
    margin: 0 auto;
    width: 90%;
}
.loginform-content .input-prepend {
    float: left;
    margin-right: 5px;
    width: 48%;
}
.loginform-content .input-prepend input {
    border: 1px solid #757575;
    border-radius: 0;
    color: #000;
    font-size: 15px;
    padding: 10px 0 8px 6px;
    width: 100%;
}
.loginform-content .form-horizontal a {
    color: #000  !important;
    float: left;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    text-align: right;
    text-decoration: underline  !important;
    width: 100%;
}
.loginform-content .form-horizontal button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #4c4c4c;
    border-radius: 0;
    color: #000;
    font-size: 22px;
    margin: 30px 0 20px;
    padding: 7px 40px 4px;
    text-transform: uppercase;
}
.modal-dialog.reg {
    top: 4% !important;
}
.regform-content h2 {
    color: #000;
    font-size: 13px;
    font-weight: normal;
    margin: 25px 0 5px;
}
.regform-content ul li {
    font-size: 12px;
    list-style: none;
    line-height: 18px;
}
.form-horizontal.reg .input-prepend {
    float: left;
    margin: 0 6px 5px 0;
    width: 48%;
}
.form-horizontal.reg .input-prepend input {
    border: 1px solid #848484;
    border-radius: 0;
    font-size: 12px;
    padding: 7px 0 4px 8px !important;
    width: 100%;
}
.form-horizontal.reg .input-prepend select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #848484;
    color: #555555;
    font-size: 12px;
    padding: 5px 0 2px 5px;
    width: 100%;
}
.form-horizontal.reg p {
    float: left;
    font-size: 12px;
    margin: 10px 0 15px !important
    width: 100%;
}
.prependedInput.check {
    float: left;
    margin-top: 1px; 
}
.form-horizontal.reg button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #4c4c4c;
    border-radius: 0;
    color: #000;
    font-size: 22px;
    padding: 7px 40px 4px;
    text-transform: uppercase;
} 
.lightbox-content ul.form li {
    height: 36px;
    margin: 7px 0;
}
.lightbox-content select {
    height: 35px !important;
    width: 265px;
}
.lightbox-content {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 30px 30px 20px;
    text-align: center;
    width: 100%;
}
.lightbox-content h3 {
    color: #000;
    font-size: 16px;
    margin-bottom: 12px;
}
.lightbox-pop .modal-dialog {
    margin-top: 5% !important;
    top: 30% !important;
    width: 330px !important;
}
.lightbox-content .submitButton.largeButton {
    width: 268px;
}
.zmdi.zmdi-long-arrow-right.uk-margin-small-left {
    display: none !important;
}
.icons {
    font-family: "Times New Roman", Times, serif !important;
}
/* ========== BROWSER WARNING ======================================================================================================= */

body .buorg {
    background: #000;
    border-bottom: none;
    color: #fff;
}

body .buorg div {
    padding-top: 20px;
    padding-bottom: 20px;
}

body .buorg a,
body .buorg a:visited {
    color: #ff0000;
}

body #buorgclose {
    right: 20px;
    top: 15px;
}
html.hidescroll {
    overflow: hidden !important; 
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) and (max-width: 480px){
        html {
    min-width: 100%;
}
    body {
    min-width: 100%;
}
    #frontpage-header {
    min-width: 100% !important;
}
#header_wrapper {
    padding: 0 15px;
    width: 300px !important;
    margin: 0 auto;
}
    .site-header-slice__toggle {
    display: block !important;
}
.site-header-slice__header {
    width: 100% !important;
    padding: 20px;
    background: #fff none repeat scroll 0 0 !important;
}
.site-header-slice__toggle {
    display: block !important;
    right: 0 !important;
    top: 15px !important;
}
 #frontpage-header{
    height: 90px !important;
}
.bh-slideshow-thumbnail-split {
    margin-top: 90px;
}
#frontpage-header-showmenu {
    display: none;
}
.site-header-slice__header__logo {
    font-size: 36px !important;
    line-height: 44px;
    padding: 0 !important;
}
#top_nav ul li {
    position: relative !important;
    width: 48% !important;
       display: table !important;
}
.site-header-slice__navigation__main-menu li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
#top_nav ul li div.sub {
    display: block !important;
    overflow: visible !important;
    position: unset !important;
    width: 120px !important;
}
.bh-search-toggle{
      display: none !important;
} 
.site-header-slice__navigation__main-menu {
    overflow: visible !important;
}
#top_nav ul li div.sub_inner {
    background: none !important;
    width: 120px !important;
    margin: 0 !important;
    padding: 0 !important;
}
#top_nav ul li li {
    height: auto !important;
    width: 120px !important;
}
#top_nav ul li.open li a,
#top_nav ul li.selected li a,
#top_nav ul li a:hover li a {
    background: none !important;
}
#top_nav ul.fotograf_overview_list {
    width: 120px !important;
}
#top_nav ul li ul {
    padding:0  !important;
}
.site-header-slice--active .site-header-slice__toggle span {
    background: #000 none repeat scroll 0 0 !important;
}
#top_nav ul .top_nav_sep {
    display: none !important;
}
#frontpage-content {
    float: left !important;
    left: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10px;
    margin-right: auto !important;
    margin-top: 0 !important;
}
#frontpage-tiles {
    float: left !important;
    margin: 0 !important;
    width: 100% !important;
}
.tile.tile-small {
    float: left !important;
    width: 100%;
    left: none !important;
    top: none !important;
}
#frontpage-layer-bj {
    min-width: 100%;
    height: 116% !important;
}
#frontpage-layer-bj-content {
    min-width: 100%;
    padding: 10px !important;
}
.detail-tile {
    width: 50% !important;
}
/*------------------innerpage-----------------*/
#content_wrapper {
    margin: 90px auto 0 !important;
    width: 300px !important;
}
#content {
    width: 100% !important;
}
li.productData {
    width: 100% !important;
    height: 530px !important;
    margin: 0 !important;
}
.cat_product_medium .gridPicture {
    height: auto !important;
}
.infogridView .gridPicture img {
    vertical-align: middle;
    width: 100% !important;
}
.infogridView .cat_product_medium .listDetails {
    float: left;
    width: 100%;
}
li.productData div.showOnHover {
    top: 20px !important;
}
div#fixed_wrapper {
    padding: 20px 0 0 20px !important;
}
div#footer_wrapper{
    width: 94%  !important;
}
#footer_links{
    width: 100% !important;
}
/*------------------innerpage-----------------*/
/*------------------innerpage1-1-----------------*/
div#left_wrapper {
    margin-left: 0 !important;
    width: 100px !important;
}
#content_wrapper.innerpage {
    margin: 110px auto 0 !important;
}
.innerpage #content {
    width: 66% !important;
}
.innerpage li.productData {
   /* height: 400px !important;*/
    margin: 0 0 20px 0 !important;
    width: 100% !important;
	margin-bottom:20px; 
}
.innerpage .locator {
    height: 40px;
    width: 100%;
}
/*------------------end innerpage1-1-----------------*/
}
@media only screen and (min-width: 320px) and (max-width: 400px){
	#frontpage-content {
    min-width: 288px !important;
    width: 300px !important;
}
   #frontpage-layer-bj-header-logo{ background-size: 200px auto;}
}
@media only screen and (min-width: 400px) and (max-width: 480px){
    #frontpage-content {
    min-width: 386px !important;
    width: 386px !important;
}
#frontpage-layer-bj-header-logo{ background-size: 200px auto!important;}
}



@media only screen and (min-width: 481px) and (max-width: 640px){
#frontpage-layer-bj-header-logo{ background-size: 200px auto!important;}
        html {
    min-width: 100%;
}
    body {
    min-width: 100%;
}
    #frontpage-header {
    min-width: 100% !important;
      height: 125px !important;
}
.site-header-slice__header {
    width: 100% !important;
    padding: 20px;
        background: #fff none repeat scroll 0 0 !important;
}
.site-header-slice__toggle {
    display: block !important;
    left: 20px !important;
    top: 80% !important;
}
.bh-slideshow-thumbnail-split {
    margin-top: 125px;
}
#frontpage-header-showmenu {
    display: none;
}
.site-header-slice__header__logo {
    font-size: 36px !important;
    line-height: 44px;
    padding: 0 !important;
     width: 100% !important;
}
#top_nav ul li {
    position: relative !important;
    width: 50% !important;
       display: table !important;
}
.site-header-slice__navigation__main-menu li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
#top_nav ul li div.sub {
    display: block !important;
    overflow: visible;
    position: unset !important;
    width: 120px !important;
}
.bh-search-toggle{
      display: none !important;
} 
.site-header-slice__navigation__main-menu {
    overflow: visible !important;
    padding: 0 !important;
}
#top_nav ul li div.sub_inner {
    background: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
#top_nav ul li li {
    height: auto !important;
    width: 120px !important;
}
#top_nav ul li.open li a,
#top_nav ul li.selected li a,
#top_nav ul li a:hover li a {
    background: none !important;
}
#top_nav ul.fotograf_overview_list {
    width: 120px;
}
#top_nav ul li ul {
    padding:0  !important;
}
.site-header-slice--active .site-header-slice__toggle span {
    background: #000 none repeat scroll 0 0 !important;
}
#top_nav ul .top_nav_sep {
    display: none !important;
}
.site-header-slice__drawer {
    top: 115px !important;
}
#top_nav ul li a {
    text-align: left !important;
    width: 85% !important;
}
#top_nav ul li li a {
    width: 100%;
}
.site-header-slice__navigation__main-menu #header_wrapper {
    width: 100% !important;  
}
#frontpage-content {
    float: left !important;
    left: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10px;
    margin-right: auto !important;
    margin-top: 0 !important;
}
#frontpage-tiles {
    float: left !important;
    margin: 0 !important;
    width: 100% !important;
}
.tile.tile-small {
    float: left !important;
    width: 100%;
    left: none !important;
    top: none !important;
}
#frontpage-layer-bj {
    min-width: 100%;
    height: 120% !important;
}
#frontpage-layer-bj-content {
    min-width: 100%;
    padding: 10px !important;
}
/*------------------innerpage-----------------*/
#content_wrapper {
    margin: 125px auto 0 !important;
    width: 450px !important;
}
#content {
    width: 100% !important;
}
li.productData {
    width: 41% !important;
}
.cat_product_medium .gridPicture {
    height: auto !important;
}
.infogridView .gridPicture img {
    vertical-align: middle;
    width: 100% !important;
}
.infogridView .cat_product_medium .listDetails {
    float: left;
    width: 100%;
}
li.productData div.showOnHover {
    top: 20px !important;
}
div#fixed_wrapper {
    padding: 20px 0 0 20px !important;
}
div#footer_wrapper{
    width: 94%  !important;
}
#footer_links{
    width: 100% !important;
}
/*------------------innerpage-----------------*/
/*------------------innerpage1-1-----------------*/
div#left_wrapper {
    margin-left: 0 !important;
}
#content_wrapper.innerpage {
    margin: 140px auto 0 !important;
}
.innerpage #content {
    width: 60% !important;
}
.innerpage li.productData {
   /* height: 495px !important;**/
    margin: 0 0 20px 0 !important;
    width: 100% !important;
}
.innerpage .locator {
    width: 100%;
}
/*------------------end innerpage1-1-----------------*/
}
@media only screen and (min-width: 481px) and (max-width: 550px){
	#frontpage-content {
    min-width: 450px !important;
    width: 450px !important;
}
}
@media only screen and (min-width: 551px) and (max-width: 640px){
    #frontpage-content {
    min-width: 530px !important;
    width: 530px !important;
}
}



@media only screen and (min-width: 641px) and (max-width: 767px){

        html {
    min-width: 100%;
}
    body {
    min-width: 100%;
}
    #frontpage-header {
    min-width: 100% !important;
    height: 125px !important;
}
.bh-slideshow-thumbnail-split {
    margin-top: 125px;
}
.site-header-slice__header {
    width: 100% !important;
    padding: 20px;
        background: #fff none repeat scroll 0 0 !important;
}
.site-header-slice__toggle {
    display: block !important;
    left: 20px !important;
    top: 80% !important;
}

#frontpage-header-showmenu {
    display: none;
}
.site-header-slice__header__logo {
    font-size: 36px !important;
    line-height: 44px;
    padding: 0 !important;
     width: 100% !important;
}
#top_nav ul li {
    position: relative !important;
    width: 50% !important;
       display: table !important;
}
.site-header-slice__navigation__main-menu li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
#top_nav ul li div.sub {
    display: block !important;
    overflow: visible;
    position: unset  !important;
    width: 120px !important;
}
.bh-search-toggle{
      display: none !important;
} 
.site-header-slice__navigation__main-menu {
    overflow: visible !important;
    padding: 0 !important;
}
#top_nav ul li div.sub_inner {
    background: none  !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
#top_nav ul li li {
    height: auto !important;
    width: 120px !important;
}
#top_nav ul li.open li a,
#top_nav ul li.selected li a,
#top_nav ul li a:hover li a {
    background: none !important;
}
#top_nav ul.fotograf_overview_list {
    width: 120px;
}
#top_nav ul li ul {
    padding:0  !important;
}
.site-header-slice--active .site-header-slice__toggle span {
    background: #000 none repeat scroll 0 0 !important;
}
#top_nav ul .top_nav_sep {
    display: none !important;
}
.site-header-slice__drawer {
    top: 115px !important;
}
#top_nav ul li a {
    text-align: left !important;
    width: 85% !important;
}
#top_nav ul li li a {
    width: 100%;
}
.site-header-slice__navigation__main-menu #header_wrapper {
    width: 100% !important;  
}
#frontpage-content {
    float: left !important;
    left: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10px;
    margin-right: auto !important;
    margin-top: 0 !important;
}
#frontpage-tiles {
    float: left !important;
    margin: 0 !important;
    width: 100% !important;
}
.tile.tile-small {
    float: left !important;
    width: 50%;
    left: none !important;
    top: none !important;
}
#frontpage-content {
    min-width: 620px !important;
    width: 620px !important;
}
#frontpage-layer-bj {
    min-width: 100%;
     height: 120% !important;
}
#frontpage-layer-bj-content {
    min-width: 100%;
    padding: 10px !important;
}
/*------------------innerpage-----------------*/
#content_wrapper {
    margin: 125px auto 0 !important;
    width: 600px !important;
}
#content {
    width: 100% !important;
}
li.productData {
    width: 26% !important;
}
.cat_product_medium .gridPicture {
    height: auto !important;
}
.infogridView .gridPicture img {
    vertical-align: middle;
    width: 100% !important;
}
.infogridView .cat_product_medium .listDetails {
    float: left;
    width: 100%;
}
li.productData div.showOnHover {
    top: 20px !important;
}
div#fixed_wrapper {
    padding: 20px 0 0 20px !important;
}
div#footer_wrapper{
    width: 94%  !important;
}
#footer_links{
    width: 100% !important;
}
/*------------------innerpage-----------------*/
/*------------------innerpage1-1-----------------*/
div#left_wrapper {
    margin-left: 0 !important;
}
#content_wrapper.innerpage {
    margin: 140px auto 0 !important;
}
.innerpage #content {
    width: 74% !important;
}
.innerpage li.productData {
   /* height: 415px !important;*/
    margin: 0 10px 20px 0 !important;
    width: 47% !important;
} 
.innerpage .locator {
    width: 100%;
}
/*------------------end innerpage1-1-----------------*/
}


@media only screen and (min-width: 768px) and (max-width: 900px){

        html {
    min-width: 100%;
}
    body {
    min-width: 100%;
}
    #frontpage-header {
    min-width: 100% !important;
        height: 120px !important;
}
.bh-slideshow-thumbnail-split {
    margin-top: 120px;
}
.site-header-slice__header {
    width: 100% !important;
    padding: 20px;
        background: #fff none repeat scroll 0 0 !important;
}
.site-header-slice__toggle {
    display: block !important;
    left: 20px !important;
    top: 80% !important;
}
#frontpage-header-showmenu {
    display: none;
}
.site-header-slice__header__logo {
    font-size: 36px !important;
    line-height: 44px;
    padding: 0 !important;
     width: 100% !important;
}
#top_nav_wrapper {
    background:none !important;
}
#top_nav ul li {
    position: relative !important;
    width: 25% !important;
       display: table !important;
}
.site-header-slice__navigation__main-menu li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
#top_nav ul li div.sub {
    display: block !important;
    overflow: visible;
    position: unset  !important;
    width: 120px !important;
}
.bh-search-toggle{
      display: none !important;
} 
.site-header-slice__navigation__main-menu {
    overflow: visible !important;
    padding: 0 !important;
}
#top_nav ul li div.sub_inner {
    background: none  !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
#top_nav ul li li {
    height: auto !important;
    width: 120px !important;
}
#top_nav ul li.open li a,
#top_nav ul li.selected li a,
#top_nav ul li a:hover li a {
    background: none !important;
}
#top_nav ul.fotograf_overview_list {
    width: 120px;
}
#top_nav ul li ul {
    padding:0  !important;
}
.site-header-slice--active .site-header-slice__toggle span {
    background: #000 none repeat scroll 0 0 !important;
}
#top_nav ul .top_nav_sep {
    display: none  !important;
}
.site-header-slice__drawer {
    top: 115px !important;
}
#top_nav ul li a {
    text-align: left  !important;
    width: 85%  !important;
}
#top_nav ul li li a {
    width: 100%;
}
.site-header-slice__navigation__main-menu #header_wrapper {
    width: 100% !important;  
}
#frontpage-content {
    float: left !important;
    left: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10px;
    margin-right: auto !important;
    margin-top: 0 !important;
}
#frontpage-tiles {
    float: left !important;
    margin: 0 !important;
    width: 100% !important;  
}
.tile.tile-small {
    float: left !important;
    width: 33.3%;
    left: none !important;
    top: none !important;
}
#frontpage-content {
    min-width: 750px !important;
    width: 750px !important;
}
#frontpage-layer-bj {
    min-width: 100%;
     height: 109% !important;
}
#frontpage-layer-bj-content {
    min-width: 100%;
    padding: 10px !important;
}
.detail-tile {
    width: 33.3% !important;
}
/*------------------innerpage-----------------*/
#content_wrapper {
    margin: 125px auto 0 !important;
    width: 750px !important;
}
#content {
    width: 100% !important;
}
li.productData {
    width: 23.6% !important;
    margin-right: 10px !important;
}
.cat_product_medium .gridPicture {
    height: auto !important;
}
.infogridView .gridPicture img {
    vertical-align: middle;
    width: 100% !important;
}
.infogridView .cat_product_medium .listDetails {
    float: left;
    width: 100%;
}
li.productData div.showOnHover {
    top: 20px !important;
}
div#fixed_wrapper {
    padding: 20px 0 0 20px !important;
}
div#footer_wrapper{
    width: 94%  !important;
}
#footer_links{
    width: 100% !important;
}
/*------------------innerpage-----------------*/
/*------------------innerpage1-1-----------------*/
div#left_wrapper {
    margin-left: 0 !important;
}
#content_wrapper.innerpage {
    margin: 140px auto 0 !important;
}
.innerpage #content {
    width: 78% !important;
}
.innerpage li.productData {
    /*height: 370px !important;*/
    margin: 0 10px 20px 0 !important;
    width: 31% !important;
} 
.innerpage .locator {
    width: 100%;
}
/*------------------end innerpage1-1-----------------*/
}

@media only screen and (min-width: 900px) and (max-width: 1023px){

        html {
    min-width: 100%;
}
    body {
    min-width: 100%;
}
    #frontpage-header {
    min-width: 100% !important;
    height: 120px !important;
}
.bh-slideshow-thumbnail-split {
    margin-top: 120px;
}
.site-header-slice__header {
    width: 100% !important;
    padding: 20px;
        background: #fff none repeat scroll 0 0 !important;
}
.site-header-slice__toggle {
    display: block !important;
    left: 20px !important;
    top: 80% !important;
}

#frontpage-header-showmenu {
    display: none;
}
.site-header-slice__header__logo {
    font-size: 36px !important;
    line-height: 44px;
    padding: 0 !important;
     width: 100% !important;
}
#top_nav_wrapper {
    background:none !important;
}
#top_nav ul li {
    position: relative !important;
    width: 25% !important;
       display: table !important;
}
.site-header-slice__navigation__main-menu li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
#top_nav ul li div.sub {
    display: block !important;
    overflow: visible;
    position: unset  !important;
    width: 120px !important;
}
.bh-search-toggle{
      display: none !important;
} 
.site-header-slice__navigation__main-menu {
    overflow: visible !important;
    padding: 0 !important;
}
#top_nav ul li div.sub_inner {
    background: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
#top_nav ul li li {
    height: auto !important;
    width: 120px !important;
}
#top_nav ul li.open li a,
#top_nav ul li.selected li a,
#top_nav ul li a:hover li a {
    background: none !important;
}
#top_nav ul.fotograf_overview_list {
    width: 120px;
}
#top_nav ul li ul {
    padding:0  !important;
}
.site-header-slice--active .site-header-slice__toggle span {
    background: #000 none repeat scroll 0 0 !important;
}
#top_nav ul .top_nav_sep {
    display: none !important;
}
.site-header-slice__drawer {
    top: 115px !important;
}
#top_nav ul li a {
    text-align: left !important;
    width: 85% !important;
}
#top_nav ul li li a {
    width: 100%;
}
.site-header-slice__navigation__main-menu #header_wrapper {
    width: 100% !important;  
}
#frontpage-content {
    float: left !important;
    left: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10px;
    margin-right: auto !important;
    margin-top: 0 !important;
}
#frontpage-tiles {
    float: left !important;
    margin: 0 !important;
    width: 100% !important;
}
.tile.tile-small {
    float: left !important;
    width: 33.3%;
    left: none !important;
    top: none !important;
}
#frontpage-content {
    min-width: 880px !important;
    width: 880px !important;
}
#frontpage-layer-bj {
    min-width: 100%;
}
#frontpage-layer-bj-content {
    min-width: 100%;
    padding: 10px !important;
}
.detail-tile {
    width: 33.3% !important;
}
#content{
    margin: 0 auto;
    width: 900px !important;
}
li.productData {
    margin: 0 18px !important;
}
#content_wrapper {
    margin: 125px auto 0 !important;
     width: 850px !important;
}
/*------------------innerpage1-1-----------------*/
div#left_wrapper {
    margin-left: 0 !important;
}
#content_wrapper.innerpage {
    margin: 140px auto 0 !important;
}
.innerpage #content {
    width: 78% !important;
}
.innerpage li.productData {
    /*height: 370px !important;*/
    margin: 0 10px 20px 0 !important;
    width: 31% !important;
} 
.innerpage .locator {
    width: 100%;
}
/*------------------end innerpage1-1-----------------*/
}
@media only screen and (min-width: 1024px) and (max-width: 1300px){
.site-header-slice__background-2 {    display: none !important;  }.site-header-slice--active .site-header-slice__fixer {    height: 0 !important;  }
.site-header-slice__header {
    margin: 0 auto;
    width: 550px !important;
}
#header_languages .flyoutBox, #header_social .flyoutBox {
    padding: 0 0 0 20px;
    top: 25px;
}
#content{
    //margin: 0 auto;
    width: 1000px !important;
}
li.productData {
    margin: 0 30px !important;
}
/*------------------innerpage1-1-----------------*/
div#left_wrapper {
    margin-left: 0 !important;
}
#content_wrapper.innerpage {
      margin: 190px auto 0 !important;
    width: 980px
}
.innerpage #content {
    width: 84% !important;
}
.innerpage li.productData {
    /*height: 370px !important;*/
    margin: 0 10px 20px 0 !important;
    width: 23% !important;
} 
.innerpage .locator {
    width: 100%;
}
/*------------------end innerpage1-1-----------------*/
}
@media only screen and (min-width: 1441px) {
    .tile {
        width: 25%;
    }
    .tile-large {
        width: 50%;
    }	.site-header-slice__background-2 {    display: none !important;  }.site-header-slice--active .site-header-slice__fixer {    height: 0 !important;  }
}

@media only screen and (min-width: 1681px) {
    .tile {
        width: 19.9%;
    }
    .tile-large {
        width: 39.9%;
    }	.site-header-slice__background-2 {    display: none !important;  }.site-header-slice--active .site-header-slice__fixer {    height: 0 !important;  }
}

@media only screen and (max-width: 1024px) {
    .tile {
        width: 50%;
    }
    .tile-large {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .tile {
        width: 50%;
    }
    .tile-large {
        width: 100%;
    }
    .detail-tile {
        width: 50%;
    }
}

@media only screen and (max-width: 1279px) {
    .detail-tile {
        width: 33.3%;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

    #header_logo #logo {
        background-size: 210px 48px;
        background-image: url(../images/frontpage-folioid@2.png) transparent no-repeat center top;
    }


    #frontpage-header-showmenu {
        background-size: 26px 15px;
        background-image: url(../images/frontpage-showmenu@2.png);
    }
    
    #frontpage-header-signup {
        background-size: 13px 17px;
        background-image: url(../images/frontpage-signout@2.png);
    }

    .loggedout #frontpage-header-signup {
        background-image: url(../images/frontpage-signup@2.png);
    }


    #frontpage-layer-bj-header-logo {
        background-image: url(../img/frontpage-folioid-white@2.png);
        background-size: 210px 48px;
    }
    
    .frontpage-detail-slider-control {
        background-image: url(../images/frontpage-slider-controls@2.png);
        background-size: 75px 38px;
    }

    .frontpage-detail-content-top-heading-ap {
        background.image: url(../images/frontpage-ap-licensing@2.png);
        background-size: 362px 44px;
    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    //display: none !important;
    //visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   DD Addition
   ========================================================================== */
body #lightbox_confirm_message {
	display:none;
}

@media only screen and (max-width: 480px) and (min-width: 320px){
.three-cols li {
    margin-right: 0 !important;
    width: 100% !important;
}
}