.anythingSlider-default .arrow { top: 0; position: absolute; display: block!important; }
.anythingSlider-default .arrow a { background: none; display: block; height: 28px; outline: 0 none; text-align: center; width: 15px; margin: 0; }
.as-oldie .anythingSlider-default .arrow { top: 30% }
.as-oldie .anythingSlider-default .anythingControls li { margin-left: 3px }
.as-oldie .anythingSlider-default .anythingNavWindow { margin: 0 2px }
.as-oldie .anythingSlider-default .anythingNavWindow li { padding: 3px 0 0 }
.anythingSlider { display: block; overflow: visible!important; position: relative; padding: 10px 0 60px; }
body.fotografaction .anythingSlider,
body.news .anythingSlider {  padding: 40px 0 60px; }
.anythingSlider .anythingWindow { position: relative; width: 100%; height: 100%; overflow: visible; }
.anythingSlider .anythingBase { background: transparent; list-style: none; position: absolute; overflow: visible!important; top: 0; left: 0; margin: 0; padding: 0; }
.anythingSlider .arrow span { display: block; visibility: hidden; }
.anythingSlider .arrow.disabled { display: none }
.anythingSlider .panel { background: none; display: block; float: left; width: auto!important; opacity: 0.2; overflow: visible; height: 600px; margin: 0; padding: 0; }
body.startSlider .anythingSlider .panel { height: 850px; }
.anythingSlider .panel.activePage { opacity: 1; }
.anythingSlider .panel .sliderImage_arrow_top,
.anythingSlider .panel .sliderImage_arrow_bottom {display:none;width:9px; height:5px;}
.anythingSlider .panel .sliderImage_arrow_top img,
.anythingSlider .panel .sliderImage_arrow_bottom img {margin:0;display:block;}
.anythingSlider .panel.activePage .sliderImage_arrow_top {display:block; position:absolute; top:0px; left:20px;}
.anythingSlider .panel.activePage .sliderImage_arrow_bottom {display:block; position:absolute; bottom:0px; left:20px;}
.anythingSlider .vertical .panel { float: none }
.anythingSlider .fade .panel { float: none; position: absolute; top: 0; left: 0; z-index: -1; }
.anythingSlider .fade .activePage { z-index: 0 }
.activePage_tooltip{display:none;position:absolute;z-index:1000000;}
div.defaultSlider { float: left; position: relative; clear: left; }
div.defaultSlider ul.defaultSlider_slides { overflow-y: hidden;/* height: 600px;*/ }
body.startSlider div.defaultSlider ul.defaultSlider_slides { height: 510px;}
ul.defaultSlider_slides:first-child { margin-left: 360px }
ul.defaultSlider_slides li:last-child span.arrow.forward { display: none!important }
ul.defaultSlider_slides li { position: relative; cursor: pointer; }

.anythingSlider-default li.activePage .arrow { top: 10px; z-index: 1000; display: block!important; }
.anythingSlider-default .arrow, .anythingSlider-default .arrow.disabled, .anythingSlider-default li.activePage .arrow.disabled { top: 10px; z-index: 1000; display: none!important; }
.anythingSlider-default .back { left: -35px }
.anythingSlider-default .back a { background: url(images/elements/slider_arrow_left.png) no-repeat }
.anythingSlider-default .forward { right: -35px }
.anythingSlider-default .forward a { background: url(images/elements/slider_arrow_right.png) no-repeat }
/* ul.defaultSlider_slides .me-plugin { position: absolute; top: 33%; } */
ul.defaultSlider_slides .mejs-container { background: none; font-family: "Times New Roman", Times, serif; position: relative; text-align: left; text-indent: 0; vertical-align: top; margin-right:10px;}
div.sliderImage_links { position: absolute; bottom: -60px; left: 0; display: none; width:auto; }
.anythingControls { width: 1078px; float: left; margin-left: 360px; margin-top: 30px; }
.anythingControls li { width: auto; float: left; }
.as-oldie .anythingSlider-default .arrow a, .as-oldie .anythingSlider-default .anythingControls a { margin: 0 }
.anythingSlider .panel img, .anythingControls li img { margin: 0 10px 0 0 }
ul.defaultSlider_slides li.activePage .promoBox, .anythingSlider-default li.activePage div.sliderImage_links { display: block }
.anythingControls li a { opacity: 0.2; float: left; display: block; }
.anythingControls li a.cur,.anythingControls li a:hover { opacity: 1; }
.anythingControls li img { margin: 0 10px 10px 0; height:70px; }
.anythingControls li:hover img {  height:70px; }
.sliderImage_tooltip { position: absolute; bottom: 5px; right: -17px; background: url("images/elements/plus.png") bottom center no-repeat; width: 80px; height: 60px; display: none; }
.sliderImage_tooltip .add_to_lightbox_wrapper { display: none; }
.sliderImage_tooltip:hover .add_to_lightbox_wrapper { display: block; background: url(images/elements/arrow_down_black.png) center 40px no-repeat transparent; height: 45px; }
.sliderImage_tooltip:hover .add_to_lightbox_wrapper div{ background: black; }
.sliderImage_tooltip:hover .add_to_lightbox_wrapper button { color: #ffffff; background: black; text-align: center; width: 100%; height: 40px; font-weight: bold; padding: 5px; }


.promoBox { font-style: italic; font-size: 24px; color: #9b9b9b; width: 800px; margin-left: 360px; float: left; }
body.startSlider .promoTitle_wrapper{margin:0px;}
.promoBox .promoTitle_wrapper{margin:0 0 20px;float:left; width:100%;}
.promoBox span { display: block; float: left; }
.promoBox span.locator_sep { font-weight: 700; margin: -5px 5px 0 10px; }
.promoBox .longdesc{font-size:12px; font-family:"Times New Roman", Times, serif;line-height:19px;letter-spacing:0; font-style:normal;/*margin: 0px 0 48px*/;margin: 0px 0 0px; float:left;}
 .promoBox .longdesc {display:none;}


.promoBox a.textButton.arrowButton {margin-bottom:-5px;}

body.fotografaction .anythingControls { margin-left: 360px; }
/*body.fotografaction ul.defaultSlider_slides:first-child { margin-left: 0px }*/
body.fotografaction div.sliderImage_links { top: -35px; }
body.news div.sliderImage_links { top: -35px; }
/*body.news .promoBox {margin-bottom:50px; }*/
body.news .news_slider_wrapper{float:left;width:100%;}

body.news div.sep_line { margin: 85px 0 85px 360px; width: 200px;}

.mejs-inner { float: left; position: relative; width: 100%; height: 100%; }

.detailsInfo .picture .mejs-poster img { max-width: none; }

body.start.news .news_slider_wrapper,
body.startSlider  #content,
body.fotografaction #content { position: relative; }
body.start.news .promoBox,
body.startSlider  .promoBox,
body.fotografaction .promoBox { position: absolute; float: none; top: 0px; left: 360px; margin-left: 0px; }
body.startSlider #startSlider { margin-top: 20px; }
body.start.news .defaultSlider,
body.fotografaction #sManufacturerSlider { margin-top: 53px; }

div#left_wrapper.empty { width: 0px; }


.recommlist li.productData { position: relative; }

.recommlist li.productData.hover .remove_article { display: block; }

.defaultSlider.withNavigation { padding-bottom: 130px; }
