/* General styles for all menus */
.cbp-spmenu {
	background: #e8e8e8;
	position: fixed;
	height:60px;
}
.cbp-spmenu a {
	display: block;
	color: #000;
	font-size: 16px;
	font-weight: 800;
	font-family:"AvenirNext LT Pro Regular";
}
.cbp-spmenu .active a {
    /*border-bottom: 3px solid #000;*/
}

.cbp-spmenu a:hover {
	/*border-bottom:3px solid #000;*/
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 1200px;
	top: 0;
	z-index: 1000;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu ul li {
    display: inline-block;
	 padding: 22px 10px;
}
.cbp-spmenu ul li ul li {
    padding: 0 !important;
    width: 100% !important;
}
.cbp-spmenu ul li ul li a {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
    font-weight: 600;
    padding: 6px 15px;
	font-size: 14px;
}
.cbp-spmenu ul li ul li:first-child {
    padding-left: 10px;
}
/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn.btn-info.btn-lg {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
    padding: 0;
	margin: 0;
	font-size:16px;
}
.cbp-spmenu ul li:first-child {
    width: 26%;
	float:left;
	  padding-left: 0;
}
.bjnavmenu {
    float: right;
}
.cbp-spmenu ul li:first-child a{
    border-bottom: medium none !important;
}
.cbp-spmenu ul li:first-child a:hover {
    border-bottom: medium none !important;
}

.menu-bar{
	display:none;
}
.navbar.navbar-default.navbar-static-top.bg-color1.dark-bg {
    min-height: auto;
}
/* Example media queries */

@media screen and (max-width: 992px){
	/* General styles for all menus */
.cbp-spmenu {
	background: #000 none repeat scroll 0 0;
	position: fixed;
	padding-top: 7px;
	opacity: 0.9;
}
.cbp-spmenu ul li {
    width: 100%;
}
.cbp-spmenu ul li:first-child a {
    background: #fff none repeat scroll 0 0;
}
.cbp-spmenu ul li ul li:first-child a {
    background: #6c6a6a none repeat scroll 0 0;
    text-align:left;
}
.menu-bar{
	display:block;
	
}
.cbp-spmenu .container {
    width: 260px;
}
.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #000;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	border-bottom:1px solid #777777;
    color: #fff;
}

.btn.btn-info.btn-lg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    margin: 0;
    padding: 15px 0 !important;
    text-align: left;
    width: 100%;
	 border-radius: 0;
}
.btn.btn-info.btn-lg:hover{
	color: #fff !important;
}
/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 2;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    padding: 16px 0 12px;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -260px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toleft {
	left: -240px;
}
.mob-serach {
    display: block !important;
}
.buttonset button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: right;
}
.buttonset img {
    width: 40%;
}
.menu-bar {
    padding: 20px 0;
}
.menu-bar img {
    float: left;
}
.menu-bar .buttonset {
    float: right;
    padding: 0;
}

.mob-input {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 0px 0 0 #000;
    color: #fff;
    display: block;
    float: left;
    padding: 12px 0;
    width: 88%;
	 border-bottom: 1px solid #fff !important;
}
.mobile-search {
    display: block;
	/*margin-top: 40px;*/
    background: rgba(0, 0, 0, 0) url("../../images/search-icon.png") no-repeat scroll 0 0;
}
.cbp-spmenu ul li:last-child {
    /*display: none;*/
}

.cbp-spmenu ul li.ddp:last-child {
    display: block;
}

.cbp-spmenu ul li:first-child {
    text-align: center;
    width: 100%;
}
.cbp-spmenu ul li {
    display: inline-block;
    padding: 0;
	    text-align: left;
}
.caret {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px dashed;
    display: inline-block;
    float: right;
    height: 0;
    margin-left: 2px;
    margin-top: 8px;
    vertical-align: middle;
    width: 0;
}
.dropdown-menu {
    background: #131313 none repeat scroll 0 0;
    border: medium none !important;
    display: none;
    font-size: 14px;
    min-width: 100%;
    padding: 0 !important;
    position: relative;
}
.dropdown-menu > li > a {
     background: #000 none repeat scroll 0 0;
    color: #fff !important;
    padding: 15px 20px 10px !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #000 !important;
    color: #fff !important;
    text-decoration: none !important;
}
.dropdown-menu > li {
     border-bottom: 1px solid #303030 !important;
}
.dropdown-menu > li:hover {
     border-bottom: 1px solid #fff !important;
}
.bjnavmenu li:first-child {
    display: block !important;
    width: 100% !important;
}
.bjnavmenu li:last-child {
    display: block !important;
    width: 100% !important;
}
.cbp-spmenu ul li ul li {
    padding: 0 !important;
}
.cbp-spmenu ul li ul li a {
    background: #000 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.serch {
    display: none !important;
}
}	
@media screen and (min-width:993px) and (max-width:1201px){
	.cbp-spmenu ul li:first-child {
    width: 20%;
}
.cbp-spmenu-vertical {
    width: 100%;
}
}

.panel-body
{
	text-align:left !important; 
}