/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
	height:70px;
}
.cbp-spmenu a {
	display: block;
	color: #000;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	border-bottom:1px solid #000;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 100%;
	top: 0;
	z-index: 1000;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu ul li {
    display: inline-block;
	 padding: 18px 14px;
}

.cbp-spmenu ul.dropdown-menu li.ddp
{
	display: inline-block;
	 padding: 15px 14px 5px 14px;
}

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn.btn-info.btn-lg {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
    padding: 0;
	margin: 0;
}
.cbp-spmenu ul li:first-child {
    width: 14%;
}

.cbp-spmenu ul.dropdown-menu li.ddp {
    width: 100% !important;
}

.cbp-spmenu ul li:first-child a{
    border-bottom: medium none !important;
}
.cbp-spmenu ul li:first-child a:hover {
    border-bottom: medium none !important;
}

.menu-bar{
	display:none;
}
.navbar.navbar-default.navbar-static-top.bg-color1.dark-bg {
    min-height: auto;
}
/* Example media queries */

@media screen and (max-width: 992px){
	/* General styles for all menus */
.cbp-spmenu {
	background: #131313 none repeat scroll 0 0;
	position: fixed;
	padding-top: 50px;
}
.cbp-spmenu ul li {
    width: 100%;
}
.menu-bar{
	display:block;
	
}
.cbp-spmenu .container {
    width: 260px;
}
.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #000;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	border-bottom:none;
    color: #fff;
}

.btn.btn-info.btn-lg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #666;
    margin: 0;
    padding: 15px 0 !important;
    text-align: left;
    width: 100%;
	 border-radius: 0;
}
.btn.btn-info.btn-lg:hover{
	color: #666 !important;
}
/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 2;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #181818;
    color: #666;
    font-size: 16px;
    padding: 16px 0 12px;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -260px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toleft {
	left: -240px;
}
.mob-serach {
    display: block !important;
}
.buttonset button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    float: right;
    padding: 10px 24px;
}
.menu-bar {
    background: #fff none repeat scroll 0 0;
    padding: 20px 0;
}
.menu-bar img {
    float: left;
}
.menu-bar .buttonset {
    float: right;
    padding: 0;
}

.mob-input {
    background: #131313 none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 1px 0 0 #000;
    color: #cccccc;
    display: block;
    float: left;
    padding: 12px 0;
    width: 88%;
	 border-bottom: 2px solid #707070 !important;
}
.mobile-search {
    display: block;
	margin-top: 40px;
    background: rgba(0, 0, 0, 0) url("../../images/search-icon.png") no-repeat scroll 0 0;
}
.cbp-spmenu ul li:last-child {
    display: none;
}
.cbp-spmenu ul li:first-child {
    width: auto;
	display:none;
}

.cbp-spmenu ul.dropdown-menu li.ddp {
    display: block !important;
}

.dropdown-menu {
    position: inherit;
}

.cbp-spmenu ul li {
    display: inline-block;
    padding: 0;
	text-align: left;
}
.caret {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px dashed;
    display: inline-block;
    float: right;
    height: 0;
    margin-left: 2px;
    margin-top: 8px;
    vertical-align: middle;
    width: 0;
}
.dropdown-menu {
    background: #131313 none repeat scroll 0 0;
    border: medium none !important;
    display: none;
    font-size: 14px;
    min-width: 100%;
    padding: 7px 0 !important;
}
.dropdown-menu > li > a {
    color: #666;
    padding: 10px 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none !important;
    color: #fff !important;
    text-decoration: none !important;
}

}	
@media screen and (min-width:993px) and (max-width:1201px){
	
	.cbp-spmenu ul li {
		padding: 18px 9px;
	}
}