@media (min-width: 993px) and (max-width: 1200px) {
    
     /* login popup */
    
    .landing-page-lock-login-btn-outer-align {
	width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .landing-mobile-top-header {
	display: none;
    }
    
    .serach-page-menu {
	text-align: center;
    }
    
    #search-navbar-our-collection-res::placeholder {
	color: #73706D !important;
    }
    
    /* cooolpase */
    
    #accordion-mobile h2 {
	font-size: 14px;
	color: white;
	line-height: 25px;
	text-align: center;
	margin-top: 40px;
    }
    
    #accordion-mobile p {
	font-size: 13px;
	line-height: 17px;
	text-align: center;
    }
    
    .editorial-submit-btn > button {
	display: block;
	margin: 25px auto;
    }
    ul.dates > li {
	border-right: 1px solid #545454;
    }
    .ariveSelect {
	width: 100% !important;
	background: white;
	border-radius: 4px;
	height: 25px;
        padding: 0px !important;
	color: white !important;
        text-align: center;
        margin-left: -7px;
    }
    .dates li select {
	padding-bottom: 77px !important;
	width: auto;
	height: 104px;
    }
    
    /* login popup */
    
    .landing-page-lock-login-btn-outer-align {
	width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
 
    .landing-mobile-top-header {
	display: none;
    }
    
    .serach-page-menu {
	text-align: center;
    }
    
    #search-navbar-our-collection-res::placeholder {
	color: #73706D !important;
    }
    
    /* cooolpase */
    
    #accordion-mobile h2 {
	font-size: 14px;
	color: white;
	line-height: 25px;
    }
    
    #accordion-mobile p {
	font-size: 13px;
	line-height: 17px;
    }
    
    .editorial-submit-btn > button {
	display: block;
	margin: 25px auto;
    }
    ul.dates > li {
	border-right: 1px solid #545454;
    }
    .ariveSelect {
	width: 100% !important;
	background: white;
	border-radius: 4px;
	height: 25px;
        padding: 0px !important;
	color: white !important;
        text-align: center;
        margin-left: -7px;
    }
    .dates li select {
	padding-bottom: 77px !important;
	width: auto;
	height: 104px;
    }
    /* login popup */
    
    .landing-page-lock-login-btn-outer-align {
	width: 100%;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    
    .landing-mobile-top-header {
	display: none;
    }
    
    .serach-page-menu {
	text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding: 10px 10px 0px 10px;
    }
    
    #search-navbar-our-collection-res::placeholder {
	color: #73706D !important;
    }
    
    /* cooolpase */
    
    #accordion-mobile h2 {
	font-size: 14px;
	color: white;
	line-height: 25px;
    }
    
    #accordion-mobile p {
	font-size: 13px;
	line-height: 17px;
    }
    
    .editorial-submit-btn > button {
	display: block;
	margin: 25px auto;
    }
    ul.dates > li {
	border-right: 1px solid #545454;
    }
    .ariveSelect {
	width: 100% !important;
	background: white;
	border-radius: 4px;
	height: 25px;
        padding: 0px !important;
	color: white !important;
        text-align: center;
        margin-left: -7px;
    }
    .dates li select {
	padding-bottom: 77px !important;
	width: auto;
	height: 104px;
    }
    
    /* login popup */
    
    .landing-page-lock-login-btn-outer-align {
	width: 100%;
    }
    .video-popup-btn.login_popup.show-login-forms-btn {
	width: 0% !important;
    }
    
    /* date select */
    
    .combodate select {
	padding: 9px !important;
	width: 66px !important;
    }
    
    .combodate select:hover  {
	padding: 9px !important;
	width: 66px !important;
    }
    
}