@media (min-width: 1200px) and (max-width: 1400px) {
    .hotel-detail-slider-price-and-show-more .hotel-slider-price {
        margin-left: 0;
        padding: 8px 7px;
        margin-top: 8px;
    }
    .top-booking-bar-btn {
	padding: 7px 4px 7px 4px;
	font-size: 13px;
    }
}
@media (min-width: 993px) and (max-width: 1199px) {
    
     /* login popup */
    
    .landing-page-lock-login-btn-outer-align {
	width: 100%;
    }
    .top-booking-bar-btn {
	padding: 7px 4px 7px 4px;
	font-size: 13px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    /* detail Page */
    .cstmai-w .hotels-detail-description-text {
        width: 88%;
        padding: 0;
    }
    .cstmai-w .hotels-image-showcase-des-text {
        width: 88%;
    }
    .hotel-slider-price { 
        margin-left: 0 !important;
    }
    .hotel-detail-slider-price-and-show-more .hotel-slider-price {
        padding: 8px 7px;
        margin-top: 8px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #align-to-top .book-button.open-show_more-page.hotel-btn {
        padding: 8px 3px !important;
    }
    .block-content.content span {
        right: 13px !important; 
        left: unset !important; 
    }
    .main-side .book-button {
        padding: 8px 3px !important;
    }
    .hotel-detail-slider-price-and-show-more .hotel-slider-price {
        padding: 8px 3px;
    }
    .show-login-forms-btn {
        width: 21px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {

    .landing-mobile-top-header {
	display: none;
    } 
    
    .serach-page-menu {
	text-align: center;
    }
    
    #search-navbar-our-collection-res::placeholder {
	color: #73706D !important;
    }
    
    /* cooolpase */
    
    #accordion-mobile h2 {
	font-size: 14px;
	color: white;
	line-height: 25px;
	text-align: center;
	margin-top: 40px;
    }
    
    #accordion-mobile p {
	font-size: 13px;
	line-height: 17px;
	text-align: center;
    }
    
    .editorial-submit-btn > button {
	display: block;
	margin: 25px auto;
    }
    ul.dates > li {
	border-right: 1px solid #545454;
    }
    .ariveSelect {
	width: 100% !important;
	background: white;
	border-radius: 4px;
	height: 25px;
        padding: 0px !important;
	color: white !important;
        text-align: center;
        margin-left: -7px;
    }
    .dates li select {
	padding-bottom: 77px !important;
	width: auto;
	height: 104px;
    }
    
    /* login popup */
    
    .landing-page-lock-login-btn-outer-align {
	width: 100%;
    }
    /* date select */
    
    .combodate select {
	padding: 7px !important;
	width: 205px !important;
    }
    
    .combodate select:hover  {
	padding: 7px !important;
	width: 205px !important;
    }
    .destinSearchMob {
	margin-top: 30px;
    }
    
    /* hotel secton */
    
    .m_slider.editorial_m_slider {
	margin-top: 0px !important;
    }
    .hotels-detail-heading-text > p {
	padding: 8% 0% 0% 0% !important;
    }
    .editorial-hotel-detail-page #align-to-top .book-button.open-show_more-page.hotel-btn { 
	width: 100%;
        margin-bottom: 8px;
    }
    .editorial-page-booking-bar .top-booking-bar-btn, .editorial-hotel-detail-page .book-button, .editorial-hotel-detail-page .hotel-slider-price, .editorial-hotel-detail-page .spa-sec-book-an-appoinment-btn {
	width: 100%;
    }
    .editorial-page-booking-bar .top-booking-bar-btn, .editorial-hotel-detail-page .book-button, .editorial-hotel-detail-page .hotel-slider-price, .editorial-hotel-detail-page .spa-sec-book-an-appoinment-btn {
	width: 100%;
    }
    .arrow-slider {
	margin-top: 10px;
    }
    .SlickVegasWidth {
	width: 31%;
	float: left;
    }
    .view-gallery-pannel-align .bar-view-gallery {
	font-size: 13px;
    }
    .architecture-sec-heading {
	margin-left: 0px !important;
    }
    .vegasFooter {
	width: 100% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 14px !important;
    }
    .editorial-image-slider-btns.image-slider-btns a {
	margin-left: 42px !important;
	margin-top: 10px;
    }
    .section {
	padding: 50px 0 !important;
    }
    .top-booking-bar-btn {
	padding: 1px 0px;
	font-size: 12px;
    }
    .block-content.content {
	width: 27px;
	margin-left: 0px;
    }
    .newbkbtn {
	margin-left: 0px !important;
    }
    .editorial-image-slider-btns.image-slider-btns a {
	margin-top: 30px !important;
	margin-left: 42px !important;
    }
    .editorial-hotel-detail-page #align-to-top .book-button.open-show_more-page.hotel-btn {
	margin-top: 21px;
    }
    .image-slider-btns-bg {
	padding: 48px 0px 47px 10px !important;
    }
    .image-slider-container .editorial-images-count {
	margin-top: -147px !important;
    }
    
}

@media (min-width: 481px) and (max-width: 767px) {
 
    .landing-mobile-top-header {
	display: none;
    }
    
    .serach-page-menu {
	text-align: center;
    }
    
    #search-navbar-our-collection-res::placeholder {
	color: #73706D !important;
    }
    
    /* cooolpase */
    
    #accordion-mobile h2 {
	font-size: 14px;
	color: white;
	line-height: 25px;
    }
    
    #accordion-mobile p {
	font-size: 13px;
	line-height: 17px;
    }
    
    .editorial-submit-btn > button {
	display: block;
	margin: 25px auto;
    }
    ul.dates > li {
	border-right: 1px solid #545454;
    }
    .ariveSelect {
	width: 100% !important;
	background: white;
	border-radius: 4px;
	height: 25px;
        padding: 0px !important;
	color: white !important;
        text-align: center;
        margin-left: -7px;
    }
    .dates li select {
	padding-bottom: 77px !important;
	width: auto;
	height: 104px;
    }
    /* login popup */
    
    .landing-page-lock-login-btn-outer-align {
	width: 100%;
    }
    /* date select */
    
    .combodate select {
	padding: 7px !important;
	width: 115px !important;
    }
    
    .combodate select:hover  {
	padding: 7px !important;
	width: 115px !important;
    }
    
    /* detail page */
    
    
    
    /* heading sections */
    
    
    .hotels-detail-description-text {
	padding: 0px 0px 0px 0px !important;
    }
    .hotels-detail-heading-text > p {
	padding: 8% 0% 0% 0% !important;
    }
    .hotels-showcase-right-side {
	position: relative !important;
    }
    .hotels-des-left-side {
	padding: 20px 32px 0px 75px !important;
    }
    .rightHotelInner {
	height: 0;
        margin-top: 0px !important;
    }
    .hotels-image-showcase-des-text {
	padding: 0px 0px 0px 0px !important;
	width: 100% !important;
    }
    
    .m_slider.editorial_m_slider {
	margin-top: 0px !important;
    }
    .VegasPopLogo {
	width: 100% !important;
    }
    .SlickVegasWidth {
	width: 100% !important;;
	float: left !important;;
    }
    .vegasFooter {
	width: 100% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 14px !important;
    }
    .editorial-image-slider-btns.image-slider-btns a {
	margin-left: 370px !important;
	margin-top: 10px;
    }
    .image-showcase-below-big-text {
	margin-left: 0px !important;
    }
    .gallery .info1 p {
	overflow: visible !important;
	line-height: 20px;
    }
    .hotel-book-price {
	margin-left: 0 !important;
	width: 160px !important;
    }
    .close-btn-show_more.close-btn-align {
	position: absolute;
	top: 0%;
    }
    .image-slider-container .editorial-images-count {
	margin-left: 350px !important;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    
    .landing-mobile-top-header {
	display: none;
    }
    
    .serach-page-menu {
	text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding: 10px 10px 0px 10px;
    }
    
    #search-navbar-our-collection-res::placeholder {
	color: #73706D !important;
    }
    
    /* cooolpase */
    
    #accordion-mobile h2 {
	font-size: 14px;
	color: white;
	line-height: 25px;
    }
    
    #accordion-mobile p {
	font-size: 13px;
	line-height: 17px;
    }
    
    .editorial-submit-btn > button {
	display: block;
	margin: 25px auto;
    }
    ul.dates > li {
	border-right: 1px solid #545454;
    }
    .ariveSelect {
	width: 100% !important;
	background: white;
	border-radius: 4px;
	height: 25px;
        padding: 0px !important;
	color: white !important;
        text-align: center;
        margin-left: -7px;
    }
    .dates li select {
	padding-bottom: 77px !important;
	width: auto;
	height: 104px;
    }
    
    /* login popup */
    
    .landing-page-lock-login-btn-outer-align {
	width: 100%;
    }
    .video-popup-btn.login_popup.show-login-forms-btn {
	width: 0% !important;
    }
    
    /* date select */
    
    .combodate select {
	padding: 7px !important;
	width: 66px !important;
    }
    
    .combodate select:hover  {
	padding: 7px !important;
	width: 66px !important;
    }
    
    /* detail page */
    
    .align-to-top-arrow {

	margin-left: 33%;
    }
    .gallery .info1 p {
	overflow: visible !important;
	line-height: 17px;
    }
    .small-box-bg {
	margin-left: -74px !important;
    }
    .architecture-sec-top-img {
	width: 56% !important;
	margin-left: 116px !important;
    }
    .architecture-sec-heading > h1 {
	margin-top: 0 !important;
    }
    .slider-next-image-btn {
	margin-bottom: 20px;
    }
    .editorial-image-slider-next-btn {
	float: left !important;
	margin-left: 32px !important;
    }
    .editorial-images-count.images-count {
	margin-left: 22% !important;
	margin-top: -150px !important;
	width: 19% !important;
    }
    .hotel-book-price {
	margin-left: 0 !important;
	width: 160px !important;
    }
    .hotel-book-now {
	color: 000;
	width: 160px;
    } 
    .VegasPopLogo {
	width: 100% !important;
    }
    .SlickVegasWidth {
	width: 100% !important;;
	float: left !important;;
    }
    .spa-left-pannel-align {
	float: left;
    }
    .bar-name-text-style {
	width: 68% !important;
    }
    .vegasFooter {
	width: 100% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 14px !important;
    }
    .editorial-image-slider-btns.image-slider-btns a {
	margin-left: 42px !important;
	margin-top: 10px;
    }
    
    /* heading sections */
    
    .hotels-detail-description-text {
	padding: 0px 0px 0px 0px !important;
    }
    .hotels-detail-heading-text > p {
	padding: 8% 0% 0% 0% !important;
    }
    .hotels-showcase-right-side {
	position: relative !important;
    }
    .hotels-des-left-side {
	padding: 20px 32px 0px 75px !important;
    }
    .rightHotelInner {
	height: 0;
        margin-top: 0px !important;
    }
    .hotels-image-showcase-des-text {
	padding: 0px 0px 0px 0px !important;
	width: 100% !important;
    }
    .m_slider.editorial_m_slider {
	margin-top: 0px !important;
    }
    .image-showcase-below-big-text {
	margin-left: 0px;
    }
    
}