@media (min-width: 1201px) and (max-width: 1400px) {
 
    
}

@media (min-width: 1201px) and (max-width: 1400px) {
 
    .vegasFooter {
	width: 33%;
	float: left;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    
    section {
	padding: 0px 0 !important;
    }
    .panel.panel-default.custom-post-panel a {
	font-size: 9px !important;
    }
 
}


@media (min-width: 768px) and (max-width: 992px) {
    
    .editorial-custom-footer-style {
	width: 100% !important;
    }
    .vegasFooter {
	width: 50% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 14px !important;
    }
    .ResSlider {
        margin-top: 40px;
    }
    
   .right-menus {
	overflow: hidden;
        height: auto;
    }
    
    .sidenav .closebtn {
	top: 0px;
    }
    /* sidebar small */
    
    header.haside {
	width: 50px !important;
    }
    .contact-aside {
        margin: 0px 0px 0px 11px;
    }
    .go-back-button {
	text-align: left !important;
	font-size: 9.80px !important;
	/* padding: 0px; */
	margin-left: 11px;
	width: 51px;
    }
    .contact-aside li {
	padding: 6px 0px 6px 14px !important;
    }
    /* menu */
    
    .EVMenu {
	margin: 20px 0 0 -105px !important;
    }
    .EVMenu li {
	width: 320px !important;
    }
    .EVMenu li a {
	font-size: 27px !important;
    }
    
    /* left menu */
    .ResponsiveTopbar {
	display: none;
    }
    .show-login-forms-btn {
	width: 100% !important;
    }
    
    .ResSlider {
        margin-top: 40px;
    }
    
   .right-menus {
	overflow: hidden;
        height: auto;
    }
    .right-menus ul li {
	list-style: none;
        padding: 0px !important;
        border-bottom: 0px !important;
    }
    .right-menus ul {
	padding: 0px;
    }
    .right-menus ul li a {
	background: #252525;
	border-bottom: 1px #414246 solid;
        color: #fff;
    }
    .hotels-logo h3.title {
	padding: 25px 200px 10px 10px;
	text-align: left;
        background: #252525;
        margin-bottom: 0px;
    }
    
    .search-box {
	background: none !important;
	height: 28px !important;
	margin-top: 0px;
	padding: 15px 0px 0px 29px !important;
    }
    /* step wizard */
    
    .stepwizard {
	margin-bottom: 25px;
	margin-top: 60px;
    }
    .FloatFilter {
        float: none !important;
    }
    /* overflow */
    .hotel {
	overflow: hidden;
    }
    
    
}

@media (min-width: 481px) and (max-width: 767px) {
    
    
    .editorial-custom-footer-style {
	width: 100% !important;
    }
    .vegasFooter {
	width: 100% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 37px !important;
    }
    /* left bar */
    
    .ResponsiveTopbar {
	display: none;
    }
    
   .right-menus {
	overflow: hidden;
        height: auto;
    }
    .right-menus ul li {
	list-style: none;
        padding: 0px !important;
        border-bottom: 0px !important;
    }
    .right-menus ul {
	padding: 0px;
    }
    .right-menus ul li a {
	background: #252525;
	border-bottom: 1px #414246 solid;
        color: #fff;
    }
    
    .hotels-logo h3.title {
	padding: 25px 200px 10px 10px;
	text-align: left;
        background: #252525;
        margin-bottom: 0px;
    }
    
    .search-box {
	background: none !important;
	height: 28px !important;
	margin-top: 0px;
	padding: 15px 0px 0px 29px !important;
    }
    .sidenav .closebtn {
	top: 0px;
    }
    .editorial-res-side-nav-logo.hamburger-menu {
	margin-top: 9px !important;
    }
    /* sidebar small */
    
    header.haside {
	width: 50px !important;
    }
    .contact-aside {
        margin: 0px 0px 0px 11px;
    }
    .go-back-button {
	text-align: left !important;
	font-size: 9.80px !important;
	width: 51px;
	margin-left: 11px;
    }
    .contact-aside li {
	padding: 6px 0px 6px 14px !important;
    }
    /* menu */
    
    .EVMenu {
	margin: 20px 0 0 -105px !important;
    }
    .EVMenu li {
	width: 320px !important;
    }
    .EVMenu li a {
	font-size: 27px !important;
    }
    
    
    /* step wizard */
    
    .stepwizard {
	margin-bottom: 25px;
	margin-top: 60px;
    }
    .FloatFilter {
        float: none !important;
    }
    /* overflow */
    .hotel {
	overflow: hidden;
    }
   
}


@media (min-width: 320px) and (max-width: 480px) {
    
    .editorial-custom-footer-style {
	width: 100% !important;
    }
    .vegasFooter {
	width: 100% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 14px !important;
    }
    .editorial-res-side-nav-logo.hamburger-menu {
	margin-top: 9px !important;
    }
    /* sidebar small */
    
    header.haside {
	width: 50px !important;
    }
    .contact-aside {
        margin: 0px 0px 0px 11px;
    }
    .go-back-button {
	text-align: left !important;
	font-size: 9.80px !important;
	width: 51px;
	margin-left: 11px;
    }
    .contact-aside li {
	padding: 6px 0px 6px 14px !important;
    }
    .ResponsiveTopbar {
	display: none;
    }
    .your-account-heading-align {
        border: none;
    }
    .login-form-pop-main-align .popup-close-btn {
	margin-top: -18px;
	font-size: 30px;
    }
    /* menu */
    
    .EVMenu {
	margin: 20px 0 0 -105px !important;
    }
    .EVMenu li {
	width: 320px !important;
    }
    .EVMenu li a {
	font-size: 27px !important;
    }
    
    /* left menu */
    
    .right-menus {
	overflow: hidden;
        height: auto;
    }
    .right-menus ul li {
	list-style: none;
        padding: 0px !important;
        border-bottom: 0px !important;
    }
    .right-menus ul {
	padding: 0px;
    }
    .right-menus ul li a {
	background: #252525;
	border-bottom: 1px #414246 solid;
        color: #fff;
    }
    
    .hotels-logo h3.title {
	padding: 25px 200px 10px 10px;
	text-align: left;
        background: #252525;
        margin-bottom: 0px;
    }
    .search-box {
	background: none !important;
	height: 28px !important;
	margin-top: 0px;
	padding: 15px 0px 0px 29px !important;
    }
    .sidenav .closebtn {
	top: 0px;
    }
    /* step wizard */
    
    .stepwizard {
	margin-bottom: 25px;
	margin-top: 60px;
    }
    .FloatFilter {
        float: none !important;
    }
    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	font-size: 90%;
    }
    .hotel {
	overflow: hidden;
    }
    
}