@media (min-width: 1201px) and (max-width: 1400px) {
 
    #block-ledunfly-menu-link {
	left: 100%;
    }
    
}

@media (min-width: 1201px) and (max-width: 1400px) {
 
    .vegasFooter {
	width: 33%;
	float: left;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
    }
    .nesletter-submit-btn {
	width: 40%;
    }
    
}
@media (min-width: 993px) and (max-width: 1200px) {
    
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
    }
    
    .vegasFooter {
	width: 33% !important;
    }
    .filter-grid-page-side-bar .combodate select {
	width: 34px !important;
    }
    .uk-slideshow:first-child .ai-uk-animation .bh-slideshow-thumbnail-split-preview {
	z-index: 99;
    }
    /* menu setting */
    
    #block-ledunfly-menu-link {
	left: 100%;
    }
    .responsivePad {
        width: 7.333% !important;
    }
    .show-login-forms-btn {
	padding: 0px 0px !important;
    }
    .block-content.content {
	margin-right: -23px !important;
    }
    
}


@media (min-width: 768px) and (max-width: 992px) {
    
    .editorial-custom-footer-style {
	width: 74% !important;
    }
    .vegasFooter {
	width: 50% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 14px !important;
    }
    /* top bar */
    
    .ResponsiveTopbar {
	display: none;
        margin-top: 40px;
    }
    .header-navigation-container {
        display: none;
    }
    .top-booking-bar-btn {
	margin-top: 40px;
    }
    .top-search-members-inner-align {
	z-index: 99;
    }
    .text-right {
	text-align: center;
	margin-bottom: 10px;
    }
    .top-bar-search .twitter-typeahead {
	margin-bottom: 10px;
    }
    /* menu */
    
    .EVMenu {
	margin: 20px 0 0 -105px !important;
    }
    .EVMenu li {
	width: 320px !important;
    }
    .EVMenu li a {
	font-size: 27px !important;
    }
    
    /* hamburg menu */
    
    .block-content.content {
	width: 100% !important;
	float: left !important;
    }
    
    /* left bar */
    .filter-grid-page-side-bar {
	width: 26.10%;
    }
    .filter-grid-page-side-bar .combodate select {
	width: 45px !important;
    }
    /* sidebar small */
    header {
	width: 50px !important;
    }
    .go-back-button {
	font-size: 9.80px !important;
    }

    .contact-aside {
        margin: 0px 0px 0px 11px;
    }
    .go-back-button {
	text-align: left !important;
        font-size: 9.80px !important;
    }
    .contact-aside li {
	padding: 6px 0px 6px 14px !important;
    }
  
}

@media (min-width: 481px) and (max-width: 767px) {
    
    
    .editorial-custom-footer-style {
	width: 100% !important;
    }
    .vegasFooter {
	width: 100% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 37px !important;
    }
    
    /* top bar */
    
    .ResponsiveTopbar {
	display: none;
        margin-top: 40px;
    }
    .header-navigation-container {
        display: none;
    }
    .top-booking-bar-btn {
	margin-top: 40px;
    }
    .text-right {
	text-align: center;
	margin-bottom: 10px;
    }
    .top-search-members-inner-align {
	z-index: 99;
    }
    .top-bar-search .twitter-typeahead {
	margin-bottom: 10px;
    }
    
    /* menu */
    
    .EVMenu {
	margin: 20px 0 0 -105px !important;
    }
    .EVMenu li {
	width: 320px !important;
    }
    .EVMenu li a {
	font-size: 27px !important;
    }
    /* sidebar small */
    header {
	width: 50px !important;
    }
    .go-back-button {
	font-size: 9.80px !important;
    }

    .contact-aside {
        margin: 0px 0px 0px 11px;
    }
    .go-back-button {
	text-align: left !important;
        font-size: 9.80px !important;
    }
    .contact-aside li {
	padding: 6px 0px 6px 14px !important;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    
    .editorial-custom-footer-style {
	width: 100% !important;
    }
    .vegasFooter {
	width: 100% !important;
    }
    .VegasFooterMiddle p {
        margin-left: 0px !important;
    }
    .VegasFooterMiddle form {
	margin-left: 0px !important;
    }
    .editorial-custom-footer-style .newsletter-style {
	width: 100% !important;
	text-align: left !important;
    }
    .vegasFooterSocial {
	float: left !important;
	margin-top: 30px !important;
    }
    .vegasSocialUl {
	margin-left: 44px !important;
    }
    .vegasFooterSocial ul li {
	margin-left: 14px !important;
    }
    /* top bar */
    
    .ResponsiveTopbar {
	display: none;
        margin-top: 40px;
    }
    .header-navigation-container {
        display: none;
    }
    .top-booking-bar-btn {
	margin-top: 40px;
    }
    .text-right {
	text-align: center;
	margin-bottom: 10px;
    }
    .top-search-members-inner-align {
	z-index: 99;
    }
    .top-bar-search .twitter-typeahead {
	margin-bottom: 10px;
    }
    /* menu */
    
    .EVMenu {
	margin: 20px 0 0 -105px !important;
    }
    .EVMenu li {
	width: 320px !important;
    }
    .EVMenu li a {
	font-size: 27px !important;
    }
    /* sidebar small */
    header {
	width: 50px !important;
    }
    .go-back-button {
	font-size: 9.80px !important;
    }

    .contact-aside {
        margin: 0px 0px 0px 11px;
    }
    .go-back-button {
	text-align: left !important;
        font-size: 9.80px !important;
    }
    .contact-aside li {
	padding: 6px 0px 6px 14px !important;
    }
    
}