/**
 * @author SE Manu Mahesh
 * @date 20 Dec 2016
 */
.combodate select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 1px solid #545454 !important;
    margin-top: 42px !important;
    padding: 11px !important;
    width: 71px !important;
}
.combodate option {
    background-color: #000;
    border: medium none;
    color: #fff !important;
    opacity: 0.83;
    outline: medium none;
}
.mobile-show-hide{
    display: none;
}
body.book-now-page-opend {
    overflow: hidden;
}
header {
    right: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.open-book-now-page.opend {
    display: inline-block;
    font-size: 35px;
    height: 55px;
    padding: 0;
    text-align: center;
    width: 63px;
}
.book-now-page {
    background-image: url("../images/book-now-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 999;
}
.book-now-page .headings {
    color: #fff;
    margin-top: 100px;
    text-align: center;
}
.headings > h2 {
    font-size: 28px;
}
.headings > p {
    color: #9d9d9d;
    font-size: 16px;
}
ul.dates {
    list-style: outside none none;
    margin: 80px auto 0;
    padding: 0;
    width: auto;
}
ul.dates > li {
    border: 1px solid #545454;
    border-right: medium none;
    color: #fff;
    float: left;
    padding: 35px;
    text-align: center;
    width: 25%;
    height: 195px; 
}
/*ul.dates > li:first-child {
    border-left: medium none;
}*/
.dates .heading {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.dates li input, .dates li select {
    background-color: transparent;
    background-image: url("../images/icon-dropdown.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 15px auto;
    border: medium none;
    font-size: 19px;
    margin-top: 25px;
    padding-bottom: 50px;
    width: 117px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: border-color 150ms ease;
    align-items: center;
    padding-left: 16px;
}
.dates li select {
    padding-bottom: 56px;
    width: 45px;
}
.dates li input:active, .dates li input:focus, .dates li select:active, .dates li select:focus {
    border: none;
    outline: none;
}
.dates li select option {
    color: #fff;
    background: #252525;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .dates li select {
        padding-bottom: 63px;
    }
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all, .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background-color: #000000;
    border: medium none;
    color: #fff;
}
.ui-datepicker-next.ui-state-hover, .ui-datepicker-prev.ui-state-hover {
    background-color: #7A7A7A;
    border: medium none;
    border-radius: 0;
}
.ui-datepicker-next.ui-state-hover .ui-icon, .ui-datepicker-prev.ui-state-hover .ui-icon {
    color: #000000;
}
.ui-datepicker-unselectable.ui-state-disabled, .ui-datepicker-unselectable.ui-state-disabled .ui-state-default {
    background-color: #000;
    border: medium none;
    color: #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
    background-color: #000;
    border: medium none;
    color: #fff;
}
html .ui-state-default.ui-state-hover:hover, html .ui-state-default.ui-state-hover:active {
    background-color: #7A7A7A;
    border: medium none;
    color: #333;
}
.book-now-page .submit-btn {
    border-bottom: 1px solid #545454;
    margin: 0 auto 40px;
    padding: 30px 0;
    text-align: center;
    width: auto;
}
.book-now-page .submit-btn {
    background-color: transparent;
    border: medium none;
    color: #fff;
}
.editorial-book-now-page .editorial-submit-btn {
    border-bottom: 1px solid #545454;
    margin: 0 auto 40px;
    padding: 30px 0;
    text-align: center;
    width: auto;
}
.editorial-submit-btn > button {
    background-color: transparent;
    border: medium none;
    color: #fff;
}
.view-modify-cancel-booking a:hover {
	color: #f5e7e7;
}
.submit-btn > a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.view-modify-cancel-booking {
    margin-bottom: 25px;
    text-align: center;
}
.view-modify-cancel-booking > a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    text-decoration: underline;
}
.booking-page-footer-section {
    display: block;
    list-style: outside none none;
    margin: 125px auto 0;
    padding: 0;
    width: auto;
}
.booking-page-footer-section span {
    color: #ABA07C;
    display: block;
    font-size: 17px;
    margin-bottom: 0.3em;
}
.booking-page-footer-section a:hover, .booking-page-footer-section a:active {
    text-decoration: none;
    outline: none;
}
.booking-page-footer-section span:hover {
    color: #ABA07C;
}
.booking-page-footer-section > li {
    float: left;
    text-align: center;
    width: 33.33%;
}
.booking-page-footer-section h6 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.booking-page-footer-section .white-border-bottom {
    border-bottom: 5px solid #fff;
    margin: 0 auto;
    width: 45px;
}
@media screen and (max-width: 767px) and (min-width:320px){
    .headings > h2 {
        font-size: 25px;
    }
    .book-now-page .headings {
        margin-top: 192px;
        padding: 0 43px;
    }
    ul.dates > li {
        padding: 15px;
        width: 50%;
    }
    .booking-page-footer-section > li {
        float: none;
        text-align: center;
        width: 100%;
    }
    .booking-page-footer-section h6 {
        margin-bottom: 19px;
    }
    .booking-page-footer-section span {
        margin-top: 16px;
    }
    .booking-page-footer-section .white-border-bottom {
        width: 68%;
    }
    .booking-page-footer-section {
        margin-bottom: 45px;
        margin-top: 70px;
    }
}
@media screen and (max-width: 400px) and (min-width:320px){
    ul.dates > li {
        width: 100%;
    }
}
@media screen and (max-width: 502px) and (min-width:401px){
    .combodate select {
        font-size: 18px !important;
        padding: 7px !important;
        width: 54px !important;
    }
}
@media screen and (max-width: 1024px) and (min-width:768px){
    .headings > p {
        font-size: 19px;
        margin: 0 auto;
        width: 69%;
    }
    .headings > h2 {
        font-size: 28px;
        margin: 0 auto;
        width: 80%;
}
}
@media screen and (max-width:767px) and (min-width: 320px) {
    .desktop-show-hide{
        display: none;
    }
    .mobile-show-hide{
        display: block;
    }
}