/* 
    Created on : 23 Jan, 2017, 1:12:25 PM
    Author     : aicreatives
*/
.hamburger-menu {
    margin-top: 22px;
}
.post-title h1 span::after {
    border-bottom: 1px solid #cccccc;
    content: "";
    position: absolute;
    right: 0;
    width: 349px;
    transform: translateX(100%);
    top: 9px;
}
.post-title h1 span::before {
    border-bottom: 1px solid #cccccc;
    content: "";
    left: 0;
    position: absolute;
    width: 349px;
    transform: translateX(-100%);
    top: 9px;
}
.post-title h1 span {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
.post-title h1 {
    font-family: Geomanist-Light;
    font-size: 15px;
    letter-spacing: 3px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}
.post-sub-titles > .main-sub-title {
    font-size: 42px;
    margin: 90px 0;
}
.post-sub-titles {
    font-family: ACaslonPro-Regular;
}
.section-padding {
    padding: 0 92px;
}
.sub-tittle-des {
    font-size: 21px;
}
.sub-tittle-des > span {
    color: #afafaf;
}
.slideshow-image img {
    margin-top: 76px;
}
.moving-obect {
    top: 105%;
}
#axis:hover .move-right{
    transform: translate(50px,0);
}
.object {
    transition: all 2s ease-in-out;
    position: relative;
}
.silde-show-btn  {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #000;
    float: right;
    font-weight: bold;
    margin-top: 26px !important;
    font-family: acaslonpro-regular;
    margin-right: 0;
}
.about-project {
    margin: 109px auto 0;
    width: 75%;
}
.about-project h3 {
    color: #000;
    font-family: acaslonpro-regular;
    font-size: 18px;
    font-weight: bold;
}
.about-project p {
    color: #000;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 35px;
}
.left-image {
    float: left;
    width: 60%;
}
.right-image {
    width: 35%;
    float: right;
}
.double-image-sec {
    margin-top: 148px;
    width: 100%;
}
.right-image > p {
    font-family: Geomanist-Light;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 30px;
}
.description-text > p {
    color: #000;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 35px;
}
.description-text > p {
    margin: 0 auto;
    width: 75%;
    margin-top: 75px;
}
.below-post-image img {
    margin-top: 138px;
    margin-left: 0px;
}
.sticky-header {
    left: 0;
    position: fixed;
    width: 311px;
    z-index: 9999;
}
/*POP Up*/
.post-page-sideshow li img{
    margin: 0 auto;
    width: 80%;
}
#gallery-popup .popup-inner {
    background-color: #fff;
}
#gallery-popup .image-slider-container .images-count {
    color: #000;
    display: table;
    float: none;
    margin: 16px auto 0;
    text-align: center;
    width: auto;
}
.post-popup .popup-close-btn {
    color: #7f7f7f;
    display: table;
    font-size: 40px;
    margin: 0 auto;
}
.popup-content {
    padding: 0 75px 75px;
    width: 100%;
}
.post-popup .image-slider-container .image-slider-btns a {
  width: auto;
}
.post-popup .popup-close-btn {
    color: #000;
    font-size: 18px;
    margin: 18px auto 0;
}
/*POP Up*/
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: 1.4s !important;
}
[data-aos^="fade"][data-aos^="fade"] {
    opacity: 1 !important;
}
@media screen and (max-width:991px) and (min-width: 768px) {
    .sticky-header {
        width: 233px;
    }
}

.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

.figure {
    padding-top: 150%;
    position: relative;
    background-position: center center;
}
.figure {
    background-position: center center;
    background-size: cover;
    display: block;
    margin: 0;
    padding-top: 150%;
    position: relative;
}
[data-ease] {
    overflow: hidden;
    position: relative;
    will-change: transform;
}
[data-slide] {
    cursor: pointer;
}
[data-ease] .mask {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(85%) !important;
    width: 100%;
}
@media screen and (max-width:767px) and (min-width: 320px) {
    .col-md-3.col-sm-2.hamburger-menu-left-align {
        display: none;
        margin-top: 23px;
    }
    .section-padding {
        padding: 0 15px;
    }
    .about-project p {
        font-size: 14px;
        line-height: 25px;
    }
    .about-project {
        width: 100%;
    }
    .double-image-sec {
        margin-top: 65px;
    }
    .right-image {
        margin-top: 23px;
        width: 100%;
    }
    .description-text > p {
        width: 100%;
    }
    .left-image {
        width: 100%;
    }
    .below-post-image img {
        margin-top: 55px;
    }
    .description-text > p {
        font-size: 14px;
        line-height: 25px;
    }
}
