/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Jan, 2017, 12:13:52 PM
    Author     : aicreatives
*/

/*.collapsed .panel-heading.custom-heading {
    border: medium none;
}*/

.node.post-filter-inputs.destination-nodes-container-Indian_Ocean.node {
	font-size: 14px;
}
.node-btn.destination-node-btn.destination-node-Indian_Ocean-btn {
	font-size: 13px;
}
.left-hamburger-menu {
    cursor: pointer;
    margin-top: 6px;
}
.new-sidebar-sk .panel-heading.custom-heading {
    padding: 25px 20px;
    background-color: rgba(37, 37, 37, 1) !important;
}
.new-sidebar-sk .dl-filter .post-filter-inputs a {
    text-decoration: none;
}
.new-sidebar-sk .dl-filter .post-filter-inputs a:hover {
    text-decoration: none;
}
.col-md-3.col-sm-2.header-text-align {
    margin-top: 24px;
}
.design-locations-logo > a {
    padding: 0 !important;
}
.design-locations-logo > a img {
	margin-top: 0;
	padding: 30px 0px 0px 0px;
}
.custom-heading {
	border-radius: 0;
	padding: 34px 30px;
	opacity: unset;
	background-color: rgba(37, 37, 37, 1);
}
.heading-stying {
    color: #fff !important;
    font-size: 1rem !important;
    letter-spacing: 1px;
    padding: 0 !important;
    text-transform: uppercase;
    text-decoration: none;
}
.heading-stying:hover,.heading-stying:focus,.heading-stying:active{
    text-decoration: none;
}
.design-locations-logo {
	border-bottom: 1px solid;
	padding: 11px 19px 40px 20px;
	background-color: rgba(37, 37, 37, 1);
}
.custom-post-panel {
    border-bottom: thin solid !important;
    border-width: thin !important;
    margin-top: 0 !important;
}
.sidenavpost {
    height: 100vh;
    overflow-x: hidden;
    padding-top: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 99;
}
.filter-width {
    float: right;
    height: 100vh;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 330px;
}
.sidenavpost a {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: lighter;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.filter-footer {
    background-color: rgb(210,210,198);
    height: 100vh;
}
.sidenavpost a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenavpost .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bg-body-sec{
    background-color: #dadad5;
}
.bg-post-sec {
    background-color: #d2d2c6;
    height: 100%;
    position: absolute;
    right: 0;
    top: 107px;
}
.panel-heading.custom-heading-post {
    border-right: 5px solid #fff;
}
.collapsed .panel-heading.custom-heading-post {
    border: medium none;
}
.custom-heading-post {
    background-color: #1e2023 !important;
    border-radius: 0;
    padding: 34px 30px;
}
.col-md-3.col-sm-2.hamburger-menu-left-align {
    margin-top: 23px;
}
.sidenav {
    left: 0;
}
.post-left-hamburger-menu > img {
    cursor: pointer;
}
.post-drop-btn {
    margin-top: 12px;
}
.post-filter-inputs {
    background-color: #2e2e2e;
    border-bottom: 1px solid #545454;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    padding: 16px 22px !important;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.post-filter-inputs:hover, .post-filter-inputs:active, .post-filter-inputs:focus {
    background-color: #dadad5;
    border-left: 4px solid #a1a39c;
    color: #1a1a18 !important;
    transition: all 0.3s ease 0s;
}
.post-filter-inputs label {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-left: 8px;
    position: relative;
    top: -3px;
    width: 100%;
}
.dl-filter > form {
    margin-bottom: 0;
}
.filter-footer a {
    color: #1e2023;
    font-size: 12px;
}
.post-drop-btn img {
    height: 42px;
    width: 43px;
}
.panel-group {
    margin-bottom: 0;
}
#gallery-popup .image-slider-container .image-slider-btns {
    vertical-align: middle;
    margin-top: -30%;
}
.filter-slider .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    height: 10px;
    margin-top: 1px;
    width: 11px;
}
.filter-slider.ui-widget-content {
    background: #1e2023 none repeat scroll 0 0;
    border-radius: 0;
    height: 5px;
}
.filter-by-price {
    padding: 16px 18px;
}
.friltered-price {
    background: transparent none repeat scroll 0 0;
    color: #61646a !important;
    float: right;
    margin-top: 11px;
    text-align: right;
}
.filter-by-price {
    background-color: #deded9;
    box-shadow: 1px 2px 2px 0 #000;
    color: #61646a;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: 100%;
    float: left;
}
.filter-by-price:hover, .filter-by-price:active, .filter-by-price:focus {
    background-color: #dadad5;
    border-left: 4px solid #a1a39c;
    color: #1a1a18 !important;
    transition: all 0.3s ease 0s;
}
.filter-by-price .ui-slider-horizontal .ui-slider-range {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    top: 0;
}
/*New Filter Menu CSS*/
.destination-filters-menu .dropdown-menu {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    min-width: 100%;
    position: relative;
}
.destination-filters-menu .btn-primary {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
.destination-filters-menu .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}
.destination-filters-menu .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}
.dl-filter > .node .node {
    display: none;
}
.node-btn {
    margin-left: 10px;
}
.dl-filter .post-filter-inputs a {
    color: #fff;
}
.post-filter-inputs:hover a {
    color: #fff;
}
.price-high-low-filter-text {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    text-align: right;
    width: 100%;
}
.filtered-text-align {
    margin: 0;
}
.locator .searchcount {
    margin-left: 15px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.custom-panel-body {
    padding: 0;
}
@media screen and (max-width:767px) and (min-width: 320px) {
    .post-drop-btn {
        float: right;
    }
    .sidenavpost {
        background-color: rgba(255, 255, 255, 0.85);
    }
    .filter-width {
        width: 280px;
    }
    #gallery-popup .image-slider-container .image-slider-btns {
        vertical-align: middle;
    }
}