/**
 * @author SE Manu Mahesh
 * @date 09 Dec 2016
 */


.image-slider-container {
    float: left;
    width: 100%;
}
.image-slider-container .image-slider {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.image-slider-container ul.image-slider > li {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.image-slider-container ul.image-slider > li.active {
    display: block;
}
.image-slider-container .image-slider-btns {
    float: left;
    margin-top: -52%;
    position: relative;
    width: 100%;
}
.image-slider-container .image-slider-btns a {
    display: inline-block;
    width: 20px;
}
.image-slider-container .image-slider-btns a.image-slider-previous-btn {
    float: left;
    margin-left: -8px;
    width: auto;
}
.image-slider-container .image-slider-btns a.image-slider-next-btn {
    float: right;
    margin-right: -10px;
    width: auto;
}
/*.image-slider-container .images-count {
    color: #c0c0c0;
    float: left;
    font-size: 11px;
    margin-top: 5px;
    text-align: right;
    width: 100%;
}*/