/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Feb, 2017, 11:55:57 AM
    Author     : aicreatives
*/
.search-section-bg {
    background-image: url("../images/search-bg.jpg");
    background-size: cover;
}
.right-menu-sidebar {
    background-color: #d2d2c6;
    float: right;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 17%;
}
.header-logo-center {
    text-align: center;
    margin-bottom: 40px;
}
.main-page-landing .m_slider .arrows-container {
    background: rgba(0,0,0,0.75);
    bottom: 0;
}
.open-destination-html h2 {
    text-align: center;
    font-family: 'UnthriftFirPersonal';
    color: #fff;
    font-size: 60px;
}
.destination-sub-menuess {
    margin-bottom: 10px !important;
}
.hotels-logo img {
    background-color: #1e2023;
}
.inner-tabs-headings {
    color: #fff;
    margin-top: 234px;
    text-align: center;
    text-transform: uppercase;
}
#mobile-inner-accordian-2 {
    float: left;
    width: 100%;
}
.hover-tittles.link-txt {
    font-size: 15px;
    height: 130px;
    margin-top: -140px;
    padding: 45px 8px;
    width: 100px;
}
#collapse-mobile-2 .width-20 {
    margin-bottom: 10px;
}
/*Search Page CSS*/
.open-search-html {
    margin: 0 auto;
    padding: 70px 180px 180px;
}
.right-serach {
    margin-top: 60px;
}
.left-serach > h2 {
    color: #ffffff;
    font-family: UnthriftSecPersonal;
    font-size: 60px;
}
.left-serach {
    margin-top: 60px;
}
.serach-page-menu > ul {
    padding-left: 0;
}
.serach-page-menu li {
    line-height: 65px;
    list-style: outside none none;
}
.serach-page-menu a {
    color: #ffffff;
    font-family: PlayfairDisplay-Regular;
    font-size: 80px;
}
.search-page {
    background-image: url("../images/background-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 999;
}
.search-box {
    background: rgba(174, 161, 153, 0.7) none repeat scroll 0 0 !important;
    border: medium none;
    border-radius: 0;
    color: #fff;
    display: table;
    font-size: 24px;
    height: 62px !important;
    margin-top: 78px;
    padding: 15px 15px 15px 50px !important;
    width: 100%;
}
.search-grid-boxes li {
    float: left;
    margin: 11px;
    width: 238px;
}
.search-grid-boxes {
    float: left;
    padding: 48px;
    width: 100%;
}
.search-grid-boxes > ul {
    display: table;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
}
.search-below-hover-boxes {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 19px;
    height: 238px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -251px;
    opacity: 0.9;
    padding: 105px 15px;
    text-align: center;
    display: none;
}
.search-grid-boxes li:hover .search-below-hover-boxes{
    display: block;
}
.search-suggeations-main > ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.search-suggeations-main {
    background: #000 none repeat scroll 0 0;
    float: left;
    margin-top: 6px;
    opacity: 0.79;
}
.search-suggeations-main a {
    color: #fff;
    display: block;
    padding: 15px 46px;
}
.search-suggeations-main li {
    border-bottom: 1px solid;
    width: 600px;
}
.search-suggeations-main li:hover, .search-suggeations-main li:focus, .search-suggeations-main li:active {
    background: #c7ab84 none repeat scroll 0 0;
    border: medium none;
}
.right-serach .bh-search-input.typeahead.search-navbar.tt-hint {
    display: none;
}
.right-serach .tt-menu {
    left: 0 !important;
    opacity: 0.82;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
}
.right-serach .tt-suggestion {
    border-bottom: 1px solid #545454;
    color: #fff;
    padding: 6px 48px;
}
/*Search Page CSS End Here*/

/*Experience Page CSS*/
.experience-page {
    background-image: url("../images/background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 999;
}
.header-logo-center img {
    display: table;
    margin: 0 auto;
}
.open-experience-html.des-holiday-sec-align > h2 {
    color: #ffffff;
    float: left;
    font-family: UnthriftFirPersonal;
    margin-bottom: 20px !important;
    margin-top: 2px;
    text-align: center;
    width: 100%;
    font-size: 60px;
}
.open-experience-html {
    float: left;
    padding: 70px 180px 180px;
}
.des-holiday-sec-align .link-text {
    font-size: 17px;
    color: #fff;
}
/*Experience Page CSS End Here*/

/*Destination Page CSS*/
.destination-page {
    background-image: url("../images/DestinationBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 999;
}
body.destination-page-opend {
    overflow: hidden;
}
.open-destination-html {
    float: left;
    padding: 70px 180px 180px;
}
.open-destination-html #accordion1 .panel-body {
    background: transparent none repeat scroll 0 0;
}
.where-box-sub-menu a {
    color: #fff;
    font-size: 15px;
}
.open-destination-html .destination-sub-menues {
    margin-bottom: 10px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
}
/*Destination Page CSS End Here*/
/*Personalized Page CSS*/
.personalized-page {
    background-image: url("../images/book-now-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 999;
    overflow-x: hidden;
}
body.personalized-page-opend {
    overflow: hidden;
}
.open-personalized-html {
    padding: 180px;
}
.open-personalized-html .border-box-personalized-service {
    color: #fff;
    font-size: 17px;
    height: 573px;
    letter-spacing: 2px;
    word-spacing: 8px;
}
.open-personalized-html div .row img {
    height: 573px;
    width: 100%;
}
.open-personalized-html .video-popup-btn {
    background: #fff none repeat scroll 0 0;
    color: #000;
    display: block;
    margin-top: 40px;
    opacity: 0.64;
    padding: 9px 43px;
}
/*Personalized Page CSS End Here*/
/*About Page CSS*/
.about-page {
    background-image: url("../images/book-now-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 999;
    overflow-x: hidden;                  
}
body.about-page-opend {
    overflow: hidden;
}
.open-about-html {
    float: left;
    padding: 80px 180px;
}
.des-about-panel-body-style {
    background-color: #000;
    opacity: 0.9;
    padding: 65px;
}
.des-about-panel-body-style .border-box > h2 {
    color: #fff;
    font-size: 41px;
}
.des-about-panel-body-style .border-box > p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.about-us-side-text p {
    color: #fff;
    line-height: 29px;
}
.about-us-side-text h2 {
    color: #fff;
}
.des-about-panel-body-style .img-responsive- {
    width: 100%;
}
.register-here-overlay {
    float: left;
    margin-top: -200px;
    position: relative;
    text-align: center;
    width: 100%;
}
.register-here-overlay .video-popup-btn {
    background: rgba(0,0,0,0.80) none repeat scroll 0 0;
    color: #ffffff;
    font-size: 26px;
    padding: 10px 80px;
}
.des-about-panel-body-style .border-box {
  height: 482px;
}
.des-about-panel-body-style .border-box > p {
  max-height: 55%;
  overflow: auto;
}
.des-about-panel-body-style .about-us-sec .row > img {
/*    height: 573px;*/
}
.col-md-6.about-us-side-text {
    padding: 0;
}
/*About Page CSS End Here*/

.close-btn-align{
    color: #fff;
    font-size: 36px;
    position: absolute;
    right: 19px;
    top: 15px;
}
.about-res-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 482px;
  width: auto;
}
.des-destination-align {
    background: rgb(229, 230, 231) none repeat scroll 0 0;
    float: left;
    padding: 15px;
}
.des-about-panel-body-style .about-read-more-button {
    font-size: 16px;
}
/*Date Page CSS*/
.date-page {
    background-image: url("../images/book-now-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 999;
}
/*Date Page CSS End Here*/
#accordion1 .panel-body {
    padding: 15px 20px;
}
.close-btn-align:hover,.close-btn-align:focus,.close-btn-align:active {
    color: #c7ab84;
}
/*Mobile Landing Page*/
.landing-mobile-top-header {
    background: #c7ab84 none repeat scroll 0 0;
    float: left;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.mobile-logo-d {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 21px;
    padding: 7px;
    text-align: center;
    width: 48px;
}
.landing-filters img {
    margin-left: 19px;
    padding: 15px;
    width: 65px;
}
.text-align{
    text-align: center;
}
.landing-search {
    color: #000;
    display: block;
    padding: 11px;
}
.add-to-cart {
    color: #000;
    display: block;
    padding: 11px;
}
.landing-header-destination {
    color: #000;
    display: block;
    padding: 11px;
}
.dropbtn {
    background-color: transparent;
    border: medium none;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.main-page-landing .editor-picks-small-text {
/*    font-family: serif;*/
}
.main-page-landing .description-bold-text {
/*    font-family: serif;*/
}
.main-page-landing .m_slider ul li .editorial-text {
    margin-top: -35%;
}
.video-popup-btn.btn-style {
    background: #fff none repeat scroll 0 0;
    color: #000;
    display: inline-block;
    margin-top: 26px;
    opacity: 0.67;
    padding: 10px;
    text-transform: uppercase;
    width: 147px;
}