/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Jan, 2017, 10:35:27 AM
    Author     : aicreatives
*/
a:hover,a:focus,a:active{
    text-decoration: none;
}
.landing-page-sticky-socila-icons {
    position: fixed;
    right: 0;
    top: 19px;
}
.holiday-type-image-align .width-20:hover .hover-tittles {
    display: block;
}
.hover-tittles {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: none;
    float: left;
    font-size: 18px;
    height: 162px;
    margin-left: 15px;
    margin-right: 17px;
    margin-top: -176px;
    opacity: 0.9;
    padding: 62px 14px;
    position: relative;
    text-align: center;
    width: 138px;
}
div.panel {
    background-color: transparent;
    display: block;
    padding: 0;
}
/*.panel-body {
    background-color: #e5e6e7;
}*/
.header-social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
.landing-mobile-top-header i {
    font-size: 18px;
}
.header-social-icons > li {
    float: left;
    background: transparent;
}
.header-social-icons a {
    color: #ccc;
    font-size: 14px;
    margin-right: 24px;
}
.holiday-type-image-align > div > a > img {
    /* height: 173px; */
    width: 94%;
}
.main-search-box {
  background: #fff none repeat scroll 0 0 !important;
  border: medium none !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0 0 !important;
  display: block !important;
  height: auto !important;
  margin-bottom: 11px !important;
  padding: 15px 38px !important;
  width:100%;
}
#accordion-mobile .bh-search-input.typeahead.search-navbar.main-search-box.tt-hint {
  display: none !important;
}
#accordion-mobile .tt-menu {
  left: 0 !important;
  opacity: 0.97;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}
#accordion-mobile .tt-suggestion {
  border-bottom: 1px solid #545454;
  color: #fff;
  padding: 6px 48px;
}
#search-page .tt-menu {
  left: 0 !important;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}
#search-page .tt-suggestion {
  border-bottom: 1px solid #545454;
  color: #fff;
  padding: 6px 48px;
  text-align: left;
}
.panel-default > .panel-heading {
    background-color: #34302c;
}
.panel-default > .panel-heading {
    background-color: #34302c;
    border-radius: 0;
}
.panel-heading {
    background-color: #34302c;
    border-radius: 0;
    height: 60px;
    opacity: 0.69;
    padding: 20px 43px 16px 53px;
}
.panel.panel-default.sub-menues > a {
    text-decoration: none;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
#accordion-mobile .sub-menues h4.accordion {
    padding-top: 4px;
}
#accordion-mobile .collapsed .accordion::after {
    color: #777;
    content: url("../images/right-arrow-landing-page.png");
    float: right;
    font-weight: bold;
    height: 14px;
    margin-left: 5px;
    z-index: 2147483647;
}
#accordion-mobile .accordion::after {
    color: #777;
    content: url("../images/bottom-arrow-landing-page.png");
    float: right;
    font-weight: bold;
    height: 14px;
    left: 26px;
    margin-left: 5px;
    margin-top: -4px;
    position: relative;
    z-index: 2147483647;
}
#accordion1 .collapsed .accordion::after {
    color: #777;
    content: url("../images/right-arrow-landing-page.png");
    float: right;
    font-weight: bold;
    height: 14px;
    margin-left: 5px;
    z-index: 2147483647;
}
#accordion1 .accordion::after {
    color: #777;
    content: url("../images/bottom-arrow-landing-page.png");
    float: right;
    font-weight: bold;
    height: 14px;
    margin-left: 5px;
    z-index: 2147483647;
}
.width-20 {
    float: left;
    width: 20%;
}
/*.holiday-type-image-align > div > a > img {
        height: 173px;
    width: 94%;
}*/
.width-100.holiday-type-image-align {
    margin: 0 auto;
    width: 100%;
}
.experience-page .width-100.holiday-type-image-align {
    margin: 0 auto;
    width: 100%;
    float: left;
}
.link-text {
    display: inline-block;
    padding-left: 1px;
    margin-top: 7px;
    margin-bottom: 6px;
}
.width-20 > a {
    color: #fff;
    font-size: 12px;
}
.where-box-main-menu {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 2px;
}
.where-box-sub-menu {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.width-25{
    width: 25%;
    float: left;
}
.experience-page .width-20 {
    float: left;
    padding: 10px;
    width: 190px;
}
.where-box-sub-menu a {
    color: #5a5a58;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}
.where-box-sub-menu > li {
    padding: 5px 0 5px 34px;
}
.main-menu-heading {
    color: #5a5a58;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 12px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.panel-group {
    margin-bottom: 0;
}
.border-box-personalized-service {
    border: 3px solid #fff;
    height: 420px;
    padding: 20px;
}
.about-us-sec > div > img {
    width: 100%;
}
.about-us-side-text > p {
    line-height: 22px;
}
.about-us-side-text > h2 {
    text-transform: uppercase;
}
.about-read-more-button {
    background-color: rgb(199, 171, 132);
    color: #000;
    display: block;
    font-size: 13px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.border-box {
    border: 1px solid #fff;
    padding: 0 20px 33px;
    text-align: center;
}
.landing-page-footer-section {
    margin-left: 20%;
    margin-top: -58px;
    position: absolute;
}
.landing-page-footer-menu-style {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.landing-page-footer-menu-style > li {
    float: left;
    margin-top: 18px;
    margin-bottom: 20px;
}
.landing-page-footer-menu-style a {
    color: #fff;
    margin-right: 17px;
    text-transform: uppercase;
}
.panel-group {
    margin-bottom: 110px;
}

/*Pesonlized Pop up*/
.personlized-service-pop-up {
    background-color: transparent;
    position: relative;
    top: 51px;
    width: 433px;
}
.personlized-service-pop-up-close-btn {
    height: 38px;
    margin-bottom: 0;
    margin-top: 1px;
    margin-left: calc(99% - 34px);
}
.personlized-service-content {
    padding: 10px 20px;
}
.personlized-service-pop-up-outer {
    background-color: rgba(36, 36, 38, 0.86);
}
.popup-form-center {
    border: 1px solid #ddd;
    display: table;
    margin: 0 auto;
}
.form-tittle h3 {
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 18px;
    text-align: center;
}
.form-logo > img {
    margin: 15px auto;
    width: 166px;
}
.form-tittle {
    background-color: #f3f3f4;
    border-bottom: 1px solid #ddd;
}
.form-content {
    background-color: #f9f9f9;
    padding: 18px;
}
.navigation-tabs {
    border-bottom: 1px solid #ddd;
    float: left;
    list-style: outside none none;
    margin: 0 0 14px;
    padding: 0 0 4px;
    width: 100%;
}
.navigation-tabs > li {
    float: left;
    margin-right: 13px;
    margin-top: 6px;
}
.navigation-tabs a {
    background-color: #e6e6e6;
    color: #a7b5c2;
    font-size: 12px;
    padding: 8px 16px;
    text-decoration: none;
}
.input-fileds label {
    color: #676a6c;
    font-size: 12px;
    font-weight: bold;
}
.navigation-tabs a:hover,.navigation-tabs a:active,.navigation-tabs a:focus {
    background-color: #1ab394;
    color: #fff;
}
.active{
    background-color: #89837b !important;
    color: #fff !important;
}
.input-fileds input {
    border: 1px solid #ddd;
    border-radius: 0;
    font-size: 11px;
    height: 30px;
}
.input-fileds .input-fa {
    color: #676a6c;
    float: right;
    left: -11px;
    position: relative;
    top: -22px;
}
.remember-me-checkbox {
    margin-left: 10px;
    position: relative;
    top: 10px;
}
.remember-me-fa{
    top: 22px !important;
}
.input-fileds select {
    border: 1px solid #ddd;
    border-radius: 0;
    font-size: 11px;
    height: 30px;
}
.form-sign-in-btn {
    background-color: #1ab394;
    border: 1px solid #1ab394;
    border-radius: 0;
    font-size: 12px;
    font-weight: bold;
}
.form-sign-in-btn:hover, .form-sign-in-btn:active, .form-sign-in-btn:focus {
    background-color: #00916b;
    border: 1px solid #1ab394;
}
.input-fileds input:focus,.input-fileds input:active{
    border: 1px solid #1ab394;
    box-shadow: 0 0 0 0;
}
.input-fileds select:focus,.input-fileds select:active{
    border: 1px solid #1ab394;
    box-shadow: 0 0 0 0;
}
#collapse-mobile-1 .bh-search-input {
  color: #000;
}
@media screen and (max-width:476px) and (min-width: 320px) {
    .personlized-service-pop-up {
        width: 324px;
    }.navigation-tabs > li {
        margin-right: 5px;
    }
    .navigation-tabs a {
        padding: 8px;
    }
    .personlized-service-pop-up-close-btn {
        width: 20px;
    }
    #register-popup.popup {
        overflow-x: hidden;
    }
}
@media screen and (max-width:767px) and (min-width: 320px) {
    .holiday-type-image-align > div > a > img {
        height: 100%;
        width: 100%;
    }
    .width-20 {
        width: 100%;
    }
    .link-txt.hover-cation {
        float: left;
        font-size: 18px;
        margin-top: 10px;
    }
}
@media screen and (max-width:991px) and (min-width: 767px) {
    .holiday-type-image-align .width-20:hover .hover-cation {
        display: block;
    }
    .link-txt.hover-cation {
        background: #000 none repeat scroll 0 0;
        color: #fff;
        display: none;
        float: left;
        font-size: 15px;
        height: 130px;
        margin-left: 15px;
        margin-right: 17px;
        margin-top: -140px;
        opacity: 0.9;
        padding: 45px 8px;
        position: relative;
        text-align: center;
        width: 100px;
    }
    #collapse-mobile-2 .width-20 {
        margin-bottom: 10px;
    }
}
@media screen and (max-width:1300px) and (min-width: 767px) {
    .main-page-landing .m_slider .editorial-image > img {
        height: 100vh;
/*        width: 104vh;*/
    }
}
/*Destination Tabs*/
.destination-sub-menues {
    width: 100%;
    margin-bottom: 10px !important;
}
.destination-panel-heading {
    background-color: #242527;
    border-radius: 0;
/*    height: 60px;*/
    opacity: 0.9;
    padding: 20px 43px 16px 53px !important;
}
#accordion1 .panel-body {
    background: #dadad5 none repeat scroll 0 0;
}
.destination-sub-menues .menu-text {
    color: #fff;
}
#landing-footer-accordian .panel-heading {
    background: #1e2023 none repeat scroll 0 0;
    border-bottom: 1px solid #343031;
    opacity: 1;
}
#landing-footer-accordian.panel-group {
    margin-top: 80px;
}