.region-sidebar-first {
	top:0px;
	position:fixed;
	margin-right: 0px;
        height: 100%;
        z-index:99;
        right: 0;
        top: 65px;
}
.region-sidebar-first .region-inner{
	height:100%;
}
#block-system-main-menu {
    height: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    overflow:hidden;
}
#block-system-main-menu .block-inner{
	width:100%;
    height: 100%;
    display:block;
    margin-left:-810px;
    position:relative;
}
ul.menusk {
    display: block;
    margin: 0 0 0 130px;
    position: absolute;
    top: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
}
ul.menusk li {
    position: relative;
}
ul li.expanded {
    list-style-image: none;
    list-style-type: none;
}
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
ul.menusk li a {
	background-color: transparent;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	font-family: Geomanist-Regular;
}
ul.menusk li a:hover, ul.menusk li a:active, ul.menusk li.little a:hover, ul.menusk li.little a:active, ul.menusk li a.active {
    background-color:transparent;
}
ul.menusk li.little-first{
	margin-top:70px;
}
ul.menusk li.little a {
	background-color: transparent;
	text-decoration: none;
	font-size: 12px;
	line-height: 0px;
	letter-spacing: 0.05em;
	text-transform: lowercase;
	font-family: Geomanist-light;
}
ul.menusk ul.menusk1 {
	display:none;
    margin-left: 280px;
    top: 13px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    transform: translateY(0%);
    width: 100%;
    z-index:3;
    height: 0px;
}
ul.menusk {
    display: block;
    margin: 0 0 0 130px;
        margin-left: 130px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
}
/*Custom font size depending on languages */
.lang-fr ul.menusk ul.menusk1,
.lang-it ul.menusk ul.menusk1  {
	width: calc(100% + 15px);
}
ul.menusk ul.menusk1:before {
	content: "";
    height: 1px;
    left: -25px;
    position: absolute;
    top: 17px;
    width: 25px;
    opacity: 0.7;
}
ul.menusk li ul.menusk1 li a {
    background-color:transparent;
    text-decoration:none;
    font-family: 'Avenir LT W01_65 Medium1475532', 'Arial';
    font-size:14px;
    line-height:9px;
    letter-spacing:0.025em;
}

/*Menu Toggle*/
#block-ledunfly-menu-link {
	position: fixed;
	left: 95%;
	top: 12px;
	cursor: pointer;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
#block-ledunfly-menu-link span{
  display:block;
  position: absolute;
  height: 2px;
  width: 24px;
  left:18px;
  
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
#block-ledunfly-menu-link span:nth-child(1) { top: 24px;}
#block-ledunfly-menu-link span:nth-child(2){ top: 30px;}
#block-ledunfly-menu-link span:nth-child(3) { top: 36px;}


#block-ledunfly-menu-link.close:hover span:nth-child(1) {
  -webkit-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -moz-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -ms-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -o-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;

}
#block-ledunfly-menu-link.close:hover span:nth-child(2) {
  -webkit-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -moz-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -ms-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -o-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  
  -webkit-animation-delay: .1s; 
   animation-delay: .1s;
}
#block-ledunfly-menu-link.close:hover span:nth-child(3) {
  -webkit-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -moz-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -ms-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -o-animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  animation: menuToggleHover .3s cubic-bezier(.19,.1,.91,.53) forwards;
  
  -webkit-animation-delay: .2s;
   animation-delay: .2s;
}

#block-ledunfly-menu-link.open span:nth-child(2){
  opacity:0;
}
#block-ledunfly-menu-link.open span:nth-child(1) {
  -webkit-animation: menuToggleClose .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -moz-animation: menuToggleClose .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -ms-animation: menuToggleClose .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -o-animation: menuToggleClose .3s cubic-bezier(.19,.1,.91,.53) forwards;
  animation: menuToggleClose .3s cubic-bezier(.19,.1,.91,.53) forwards;
}
#block-ledunfly-menu-link.open span:nth-child(3) {	
  -webkit-animation: menuToggleClose2 .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -moz-animation: menuToggleClose2 .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -ms-animation: menuToggleClose2 .3s cubic-bezier(.19,.1,.91,.53) forwards;
  -o-animation: menuToggleClose2 .3s cubic-bezier(.19,.1,.91,.53) forwards;
  animation: menuToggleClose2 .3s cubic-bezier(.19,.1,.91,.53) forwards;
}


@keyframes menuToggleHover {
  0% {
    left:18px;
    width:24px;
    opacity:1;
  }
  50% {
    left:42px;
    width:0px;
    opacity:1;
  }
  51% {
    left:18px;
    width:0px;
  	opacity:0;
  }
  52% {
    left:18px;
    width:0px;
  	opacity:1;
  }
  100% {
    left:18px;
    width:24px;
    opacity:1;
  }
}
@-webkit-keyframes menuToggleHover {/* Safari and Chrome */
  0% {
    left:18px;
    width:24px;
    opacity:1;
  }
  50% {
    left:42px;
    width:0px;
    opacity:1;
  }
  51% {
    left:18px;
    width:0px;
  	opacity:0;
  }
  52% {
    left:18px;
    width:0px;
  	opacity:1;
  }
  100% {
    left:18px;
    width:24px;
    opacity:1;
  }
}
@keyframes menuToggleClose {
  0% {
    top:24px;
  }
  25% {
    top:30px;
  }
  50% {
  	top:30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
  	top:30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes menuToggleClose2 {
  0% {
    top:36px;
  }
  25% {
    top:30px;
  }
  50% {
  	top:30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
  	top:30px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes menuToggleClose {
  0% {
    top:24px;
  }
  25% {
    top:30px;
  }
  50% {
  	top:30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
  	top:30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes menuToggleClose2 {
  0% {
    top:36px;
  }
  25% {
    top:30px;
  }
  50% {
  	top:30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
  	top:30px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
/*Same animations but redenifed for IE for wide screen*/
@keyframes menuToggleHover_wide {
	  0% {
	    left:28px;
	    width:24px;
	    opacity:1;
	  }
	  50% {
	    left:52px;
	    width:0px;
	    opacity:1;
	  }
	  51% {
	    left:28px;
	    width:0px;
	  	opacity:0;
	  }
	  52% {
	    left:28px;
	    width:0px;
	  	opacity:1;
	  }
	  100% {
	    left:28px;
	    width:24px;
	    opacity:1;
	  }
	}
	@-webkit-keyframes menuToggleHover_wide {/* Safari and Chrome */
	  0% {
	    left:28px;
	    width:24px;
	    opacity:1;
	  }
	  50% {
	    left:52px;
	    width:0px;
	    opacity:1;
	  }
	  51% {
	    left:28px;
	    width:0px;
	  	opacity:0;
	  }
	  52% {
	    left:28px;
	    width:0px;
	  	opacity:1;
	  }
	  100% {
	    left:28px;
	    width:24px;
	    opacity:1;
	  }
	}
	@keyframes menuToggleClose_wide {
	  0% {
	    top:34px;
	  }
	  25% {
	    top:40px;
	  }
	  50% {
	  	top:40px;
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	  	top:40px;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	  }
	}
	@keyframes menuToggleClose2_wide {
	  0% {
	    top:46px;
	  }
	  25% {
	    top:40px;
	  }
	  50% {
	  	top:40px;
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	  	top:40px;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	  }
	}
	@-webkit-keyframes menuToggleClose_wide {
	  0% {
	    top:34px;
	  }
	  25% {
	    top:40px;
	  }
	  50% {
	  	top:40px;
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	  	top:40px;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	  }
	}
	@-webkit-keyframes menuToggleClose2_wide {
	  0% {
	    top:46px;
	  }
	  25% {
	    top:40px;
	  }
	  50% {
	  	top:40px;
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	  	top:40px;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	  }
	}



/*Block menu text*/
.block-menu-text{
	position:absolute;
	bottom:80px;
    font-family: 'Avenir LT W01_65 Medium1475532', 'Arial';
    font-size:11px;
    line-height:18px;
    letter-spacing:0.01em;
    margin-left:145px;
    text-transform:uppercase;
}
.block-menu-text p{
	margin:0;	
}

/*LANGUES*/
#block-locale-language {
    bottom: 0;
    position: fixed;
    width: 60px;
    height:60px;
    margin-bottom:0px;
    display: none;
}
#block-locale-language .block-title {
	position:absolute;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    font-family: 'Avenir LT W01_95 Black1475556', 'Arial';
    font-size: 13px;
    line-height:60px;
    width: 60px;
    height: 60px;
    letter-spacing: 0.075em;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}
#block-locale-language ul {
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin:0;
    padding:0;
}
#block-locale-language li {
	border-top: 1px solid #e8e8e8;
	position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    list-style: outside none none;
    opacity: 0;
    visibility: hidden;
}
#block-locale-language li span, #block-locale-language li a {
	background-color:transparent;
    cursor: pointer;
    font-family: 'Avenir LT W01_95 Black1475556', 'Arial';
    font-size: 13px;
    line-height:60px;
    text-decoration: none;
    letter-spacing: 0.075em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display:block;
}



/*
 * Tablet portrait
 */
@media (max-height: 768px) {
	ul.menusk {
	    top: 38%;
	}
	ul.menusk li.little-first{
		margin-top:15px;
	}
	.block-menu-text{
		bottom: 70px;
	}
}

/*
 * Tablet wide sizes and up
 */
@media only screen and (min-width: 1025px) {
	#block-system-main-menu { margin-right: 0px;}
	#block-ledunfly-menu-link{ width: 29px; height: 20px;}
	#block-ledunfly-menu-link span{left:28px;}
	#block-ledunfly-menu-link span:nth-child(1) { top: 28px;}
	#block-ledunfly-menu-link span:nth-child(2){ top: 35px;}
	#block-ledunfly-menu-link span:nth-child(3) { top: 41px;}
	
	#block-ledunfly-menu-link.close:hover span:nth-child(1) {
	  -webkit-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -moz-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -ms-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -o-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	
	}
	#block-ledunfly-menu-link.close:hover span:nth-child(2) {
	  -webkit-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -moz-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -ms-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -o-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  
	  -webkit-animation-delay: .1s; 
	   animation-delay: .1s;
	}
	#block-ledunfly-menu-link.close:hover span:nth-child(3) {
	  -webkit-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -moz-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -ms-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -o-animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  animation: menuToggleHover_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  
	  -webkit-animation-delay: .2s;
	   animation-delay: .2s;
	}
	
	#block-ledunfly-menu-link.open span:nth-child(2){
	  opacity:0;
	}
	#block-ledunfly-menu-link.open span:nth-child(1) {
	  -webkit-animation: menuToggleClose_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -moz-animation: menuToggleClose_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -ms-animation: menuToggleClose_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -o-animation: menuToggleClose_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  animation: menuToggleClose_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	}
	#block-ledunfly-menu-link.open span:nth-child(3) {	
	  -webkit-animation: menuToggleClose2_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -moz-animation: menuToggleClose2_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -ms-animation: menuToggleClose2_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  -o-animation: menuToggleClose2_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	  animation: menuToggleClose2_wide .3s cubic-bezier(.19,.1,.91,.53) forwards;
	}


	#block-locale-language .block-title,
	#block-locale-language {width: 80px; height:80px; line-height: 80px;}
	#block-locale-language .block-title,
	#block-locale-language li span, #block-locale-language li a { line-height: 80px;}