/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Mar, 2017, 12:59:39 PM
    Author     : Aicreatives
*/
/*.product-grid-shuffle .thumb-2 .note {
    bottom: 10px;
    margin-top: 0;
}*/
.product-grid-shuffle .thumb-2 .note {
    max-height: 24%;
    overflow: auto;
}
/*.collapse.navbar-collapse {
    padding: 0;
}*/
.product-grid-shuffle .thumb-2 .product-price {
    font-size: 11px;
}
.banner-section .main-title {
    font-family: ACaslonPro-Regular;
    font-weight: bold;
}
.property-side-nav .navbar-default {
    background-color: transparent;
    border: medium none;
}
.property-side-nav .navbar-collapse {
    padding: 0 !important;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .center-image {
        display: none;
    }
    .pub-page-sec-2 .last-node {
        display: none;
    }
    .pub-page-sec-2 .note {
        left: calc(50% - 135px);
    }
    .property-side-nav.right-menus {
        background-color: transparent;
        height: auto;
        position: absolute;
        right: 0;
        top: 12px;
        z-index: 9999;
    }
    .property-side-nav .navbar {
        margin-bottom: 0;
    }
    .property-side-nav .navbar-collapse {
        background-color: #1e2023;
    }
    .banner-section {
        margin-top: 193px;
    }
    .banner-section .note {
        bottom: 81px;
        margin: 0;
    }
    .banner-section .image-slider-container .image-slider-btns a {
        width: auto !important;
    }
    .banner-section .mouse-icon {
        margin-right: 16px;
    }
    .pub-page-sec-2 .image-slider-container .image-slider-btns {
        margin-top: 14px;
        padding-left: calc(100% - 218px);
    }
    .sec-heading > h3 {
        padding-left: 0;
    }
}
@media screen and (max-width: 469px) and (min-width: 320px) {
    .banner-section {
        background-image: linear-gradient(to right, #fff 26%, #c5c0ba 26%);
    }
}

/*Product Grid Shuffle*/
@media screen and (max-width: 991px) and (min-width: 768px) {
    .product-grid-shuffle .thumb-4 .product-name {
        margin-bottom: 66%;
    }
    .res-margin-bottom-25{
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .product-grid-shuffle .thumb-3 .note {
        bottom: 16px;
        max-height: 24%;
        overflow: auto;
        position: absolute;
        width: 45%;
    }
    .product-grid-shuffle .thumb-3 .main-title {
        position: absolute;
    }
    .product-grid-shuffle .thumb-3 .main-title {
        margin-left: 7%;
    }
    .product-grid-shuffle .thumb-3 .titles {
        margin-left: 51%;
    }
    .titles {
        bottom: 6px;
    }
    .product-grid-shuffle .thumb-5 .note {
        margin-left: 26%;
    }

}


/*Content Grid Shuffle*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .content-grid-shuffle .side-stamp {
        margin-left: -28px;
    }
    .content-grid-shuffle .note {
        max-height: 124px;
        min-height: 124px;
        width: 55%;
        overflow: auto;
    }
    .content-grid-shuffle .thumb-4 .side-stamp {
        margin-left: -73px;
    }
    .content-grid-shuffle .thumb-6 .side-stamp {
        margin-left: -73px;
    }
    .navbar-inverse .navbar-nav > li > a {
        margin: 15px 10px 0;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .custom-tabs .nav.nav-tabs li > a {
        font-size: 13px;
        padding: 10px;
    }
    .res-mobile-margin-bottom-25{
        margin-bottom: 25px;
    }
    .custom-slider-style .image > img {
        max-height: 331px;
        min-height: 331px;
    }
    .custom-slider-style.m_slider .arrows-container {
        background-color: #d2d2c6;
        margin-top: 0;
        opacity: 0.85;
        padding: 25px;
        position: relative;
        float: left;
    }
    .m_slider ul li .text {
        margin-left: 19% !important;
    }
}