/**
 * @author SE Manu Mahesh
 * @date 08 Dec 2016
 */
.top-booking-bar-btn {
    background-color: #ABA07C;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 7px 9px;
    font-family: Geomanist-light;
}

.hotels-logo {
    background: #1e2023 none repeat scroll 0 0;
    border-bottom: 1px solid;
}
.hotels-logo img {
        padding: 10px 10px 0px 0px;
} 

.hotels-logo h3.title{
    color: #fff;
    font-family: geomanist-light;
    padding: 9px 15px 26px 0px;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    margin: 0;
}
.hotels-logo h3.title a, .hotels-logo h3.title a:hover{ color: #fff; }
.right-menus {
/*    background-color: #1e2023;*/
    height: 652px;
    overflow: auto;
}
.right-menus ul {
    list-style: outside none none; 
    margin: 0;
    padding: 0;
}
.right-menus ul li a {
    background-color: #1E2023;
    border-bottom: 1px solid #414246;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 30px 0 30px 30px;
    text-transform: uppercase;
}
/*.right-menus ul li a:hover, .right-menus ul li a:active, .right-menus ul li a:focus {
    background-color: #89837B !important;
    border-left: 4px solid #a1a39c;
    color: #fff !important;
    outline: medium none;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    opacity: 1 !important;
}*/

.nav.nav-pills.nav-stacked li a:hover {
	background: #89837B;
        border-left: 4px solid #a1a39c;
        color: #fff !important;
        outline: medium none;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        opacity: 1 !important;
}
.nav.nav-pills.nav-stacked li a.activebook-now {
	background: #ABA00d;
}
.CustomTopbarwidth .top-booking-bar-btn {
	background: #ABA00d !important;
}

.right-menus .btns span {
    color: #9e9fa1;
    display: block;
    font-size: 11px;
    margin: 5px 0;
    text-align: center;
}
.right-menus .btns > div {
    margin: 25px auto 0;
    text-align: center;
    width: 150px;
}
.right-menus .btns div a {
    float: left;
}
.right-menus .btns div a.prev {
    float: left;
}
.right-menus .btns div a.next {
    float: right;
}
.right-menus span.border {
    border-bottom: 1px solid #b3b3b5;
    display: block;
    margin: 0 auto 10px;
    width: 35px;
}
.banner-section {
    background-image: linear-gradient(to right, #fff 50%, #c5c0ba 50%);
}
.banner-section .main-title {
    font-size: 17px;
    font-weight: normal;
    margin: 25px 0;
}
.banner-section .image-slider-container .image-slider-btns {
    background-color: #333;
    float: right;
    margin: 0;
    position: unset;
    width: auto;
}
.banner-section .image-slider-container .image-slider-btns a.image-slider-previous-btn {
    background-color: #131313;
    display: block;
    margin: 0;
    text-align: center;
    width: auto;
}
.banner-section .image-slider-container .image-slider-btns a.image-slider-next-btn {
    background-color: #131313;
    float: none;
    margin: 0;
    width: auto;
}
.banner-section .image-slider-container .image-slider-btns a {
    border: 1px solid #000;
    padding: 15px 15px 10px;
}
.banner-section .note {
    background-color: #2c2d32;
    color: #fff;
    font-size: 12px;
    font-style: italic;
    margin: -80px 0 0 -60px;
    padding: 25px 15px;
    position: absolute;
    text-align: center;
    width: 290px;
}


header {
    right: 0 !important;
    position: fixed;
    top: 83px;
    width: 62px;
}


header ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 60px;
}
header ul li {
    background-color: #000000;
}
header ul li a {
    display: block;
    font-size: 12px;
    padding: 13px;
}
header ul li a:hover, header ul li a:active, header ul li a:focus {
    text-decoration: none;
    outline: none;
}
header ul li.logo > a {
    color: #c9a983;
    font-size: 30px;
    text-align: center;
}
header ul li.menu span {
    color: #fff;
    display: block;
    text-align: center;
}
header ul li.menu a {
    text-align: center;
}
header ul li.book-btn .menu-toggle-btn {
    background-color: #aea9a5;
    color: #000;
    text-align: center;
}
.banner-section .mouse-icon {
    float: right;
    margin-right: 25px;
    margin-top: 16px;
    width: 19px;
}
.sec-heading > h3 {
    font-size: 15px;
    margin: 20px 0 10px;
    padding-left: 15%;
}
.center-image {
    margin-top: -1%;
    width: 25.2%;
}
/******** New style for detail page *******/
.editorial-hotel-detail-page .hotels-logo,
.editorial-hotel-detail-page .right-menu-align li:nth-child(1),
.editorial-hotel-detail-page .right-menus ul li a{background: rgba(26, 45, 59, 1);border-bottom: 1px solid rgba(211, 214, 210, 0.2);    padding: 15px 0 14px 28px;}
.editorial-hotel-detail-page .right-menus ul li a:hover{background:#d3d6d2;}
.editorial-page-booking-bar .booking-form-bar-top,
.editorial-hotel-detail-page .editorial_m_slider ul li .editorial-text{    background-color: rgba(26, 45, 59, 0.9);opacity: .9;}
.editorial-page-booking-page .editorial_m_slider ul li .editorial-text{ background-color: rgba(26, 45, 59, 0.9);}
.editorial-page-booking-bar .right-menu-align .bh-search-input.typeahead.search-navbar.search-box.tt-input::-webkit-input-placeholder { 
  color: #fff;
}
.editorial-hotel-detail-page img.banner-arrow-bg{background-color: rgb(9, 29, 43);}
.editorial-hotel-detail-page button.go-back-button{background-color: #d3d6d2;}
.editorial-page-booking-bar .top-booking-bar-btn, 
.editorial-hotel-detail-page .book-button,
.editorial-hotel-detail-page .hotel-slider-price,
.editorial-hotel-detail-page .spa-sec-book-an-appoinment-btn{
    background-color: #efe5bc;
    color: #000;
}
.editorial-hotel-detail-page #align-to-top .book-button.open-show_more-page.hotel-btn {
    background-color: #efe5bc;
        opacity: 1;
}  
.editorial-page-booking-bar .ai-custom-deafault-style{
    background-color: #89837b;
    color: white;
}
#top-bar-booking-form-arrive::placeholder {
	color: white;
}
#top-bar-booking-form-destination::placeholder {
	color: white;
}
.editorial-page-booking-bar input.ai-custom-deafault-style::-webkit-input-placeholder { 
  color: #000;
}
.editorial-page-booking-page .right-menu-align .bh-search-input.typeahead.search-navbar.search-box.tt-input::-webkit-input-placeholder { 
  color: #fff;
}
.editorial-hotel-detail-page .footer{background-color: #d3d6d2;}
.editorial-custom-footer-style .newsletter-style, .editorial-custom-footer-style .nesletter-submit-btn{background: #ABA07C;}
.editorial-hotel-detail-page .rosa, .editorial-hotel-detail-page .gallery.row .principale1{background-color: rgb(228, 220, 212 );}

.editorial-hotel-detail-page hr.star-light {
    padding: 0;
    border: none;
    border-top: solid 1px;
    text-align: left;
    text-transform: uppercase;
    max-width: 100px;
    margin: 4px;
    border-radius: 10px;
}
.align-to-top-arrow{
    position: absolute;
    bottom: 0px;
        z-index: 1;
    text-align: center;
    width: 41px;
    margin: 0 auto;
    margin-left: 52%;
}
.editorial-hotel-detail-page .right-menu-align li:nth-child(1){    padding: 10px 0 10px 30px;}
.editorial-hotel-detail-page .hotels-logo{padding: 0;}
.editorial-hotel-detail-page .go-back-button{   top: 89px;}
.editorial-hotel-detail-page .right-menu-sidebar{background-color: #fff; }
.editorial-hotel-detail-page .right-menus ul li a[data-hotel-option="book_now"]{ 
    background: #efe5bc;
    color: #000;
}
.editorial-hotel-detail-page  .login_popup .fa{color: #ABA07C;}
.editorial-hotel-detail-page .gallery .info1 h2{color: #ABA07C;}
.right-menu-sidebar{background: #fff;}
