/**
 * @author SE Manu Mahesh
 * @date 21 Dec 2016
 */

body.sticky-nav .header {
    /*margin-top: -60px;*/
    position: fixed;
}
.header {
    background-color: #fff;
    /*position: fixed;*/
    left: 0;
    width: 100%;
    z-index: 9;
}
.header-navigation-container {
    background-color: #ffffff;
}
body.sticky-nav .sticky-header-offset {
    /*margin-bottom: 284px;*/
    margin-bottom: 745px;
}
.sticky-header-offset {
    /*margin-bottom: 344px;*/
}
.text-logo {
    display: none;
}
body.sticky-nav .text-logo {
    display: block;
}