.field-name-field-hp-text-2 span {
    width: 100%;
    float: left;
    line-height: 26px;
}

/* custom css sidebar */
.block-content.content ul li {
    background: transparent;
    float: right;
    width: 100%;
    text-align: right;
    padding-right: 25px;
}

ul.menusk1 {
    margin-top: -34px;
    float: left;
}

.m_slider.editorial_m_slider_landing {
/*    margin-top: 64px;*/
}

.editorial_m_slider_landing ul li .editorial-text {
    bottom: 70px;
}

ul.menusk1.clearfix {
    left: -100%;
    position: relative;
}