.field-name-field-hp-text-2 span {
    width: 100%;
    float: left;
    line-height: 26px;
}

/* custom css sidebar */
.block-content.content ul li {
    background: transparent;
}

ul.menusk1 {
    margin-top: -34px;
    float: left;
}